@model KnowWaste.Models.Documents

@if (Model.PaginationSetting.TotalPages > 0)
{
    <div class="d-flex justify-content-end align-items-center mb-5">
        <nav aria-label="Page navigation example" class="pagination">
            <ul class="pagination">
                <li class="page-item"><button class="page-link" @(Model.PaginationSetting.PageIndex == 0 ? "hidden" : null) onclick="refreshData(@(Model.PaginationSetting.PageIndex - 1))">Previous</button></li>
                @for (int index = 0; index < Model.PaginationSetting.TotalPages; index++)
                {
                    <li class="page-item"><button class="page-link @(index == Model.PaginationSetting.PageIndex ? "text-dark" : null)" onclick="refreshData(@index)">@(index + 1)</button></li>
                }
                <li class="page-item"><button class="page-link" @(Model.PaginationSetting.PageIndex == Model.PaginationSetting.TotalPages - 1 ? "hidden" : null) onclick="refreshData(@(Model.PaginationSetting.PageIndex + 1))">Next</button></li>
            </ul>
        </nav>
    </div>
}

@foreach (ViewModels.Document item in Model.DocumentList)
{
    <a href="New/_3rpromar/Details/@item.ID" class="text-decoration-none text-dark">
        <div class="custom-border d-flex p-4 mb-4">
            <!-- <small class="text-blue text-uppercase">Code No:</small> -->
            @if (!String.IsNullOrEmpty(item.Thumbnail))
            {
                <div class="col-2">
                    <img src="Documents/@item.Thumbnail" style="height: 100%; width: 150px; object-fit: cover;">
                </div>
            }

            <div class="col-10 ps-3">
                <h4 class="m-0">@item.Title</h4>
                <small>@item.Country | @item.Year</small>
                <div class="pt-3" style="display: -webkit-box; -webkit-line-clamp: 4;  -webkit-box-orient: vertical; overflow: hidden; ">@Html.Raw(item.Description)</div>

                <span class="btn btn-link px-0 mt-2">Start Reading →</span>
            </div>
        </div>
    </a>
}