@{
    Layout = "~/Views/Shared/Shared.cshtml";
}

<link href="~/Content/home.css" rel="stylesheet" />
<link href="~/Content/data.css" rel="stylesheet" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/data.js"></script>

@using System.Data;

<div class="c-layout-page">
    <section class="c-layout-revo-slider c-layout-revo-slider-4">
        <div class="tp-banner-container c-theme">
            <div class="tp-banner rev_slider" data-version="5.0">
                <ul>
                    <!--BEGIN: SLIDE #1 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_marine2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block"></h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;">

                        </div>
                        <style>
                            .marine-debris-container {
                                width: 100%;
                                text-align: center;
                            }

                            .marine-debris-button {
                                color: white;
                                padding: 15px 40px;
                                border: solid 2px #fff;
                                bottom: 10px;
                                position: absolute;
                                font-weight: 500;
                                z-index: 999;
                            }

                                .marine-debris-button:hover {
                                    color: #23A2D7;
                                    padding: 15px 40px;
                                    border: solid 2px #23A2D7;
                                    bottom: 10px;
                                    position: absolute;
                                    font-weight: 500;
                                    z-index: 999;
                                }
                        </style>
                        <div class="marine-debris-container">
                            <a class="marine-debris-button" href="~/MarineDebris">
                                See Marine Debris
                            </a>
                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #2 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste03.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #3 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste02.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #4 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste04.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--END -->
                </ul>
            </div>
        </div>
    </section>

    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp">
                        <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Inform </h3>
                        <p class="c-font-thin">An interactive and intuitive sustainable waste and resource management knowledge repository</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                        <div class="c-content-line-icon c-theme c-icon-support"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Empower</h3>
                        <p class="c-font-thin">Knowledge and capacity building on the transfer of sustainable waste and resource management</p>
                    </div>
                </div>
                <div class="col-sm-4 c-card">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                        <div class="c-content-line-icon c-theme c-fa-users"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Connect</h3>
                        <p class="c-font-thin">Bringing together sustainable waste and resource management related professional and institutions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-content-box c-size-md c-bg-white" style="display: none;">
        <div class="container">

            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Waste Data</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>

            <div id="country-filter"><div style="display:none;"><span>Region:</span> @Html.Raw(ViewBag.Region)</div><div><span>Sub Region:</span> @Html.Raw(ViewBag.SubRegion)</div><div><span>Country:</span> @Html.Raw(ViewBag.Country)</div><div><span>Year:</span> @Html.Raw(ViewBag.Year)</div></div>
            <div id="charts">
                <div class="progressicon"><img src="~/Content/Images/misc/progress.gif" /></div>
                <div id="mapcontainer" class="hidden">
                    <div class="chart-filter filter-waste">
                        <select>
                            <option value="0">All</option>
                            <option value="1">Municipal Waste</option>
                            <option value="2">Agricultural Waste</option>
                            <option value="3">Construction & Demolition Waste</option>
                            <option value="4">E-Waste</option>
                            <option value="5">Industrial Waste</option>
                            <option value="6">Mining Waste</option>
                            <option value="7">Healthcare Waste</option>
                        </select>
                    </div>
                    <div class="chart-filter filter-type">
                        <select>
                            <option value="Generated">Generated</option>
                            <option value="Hazardous">Hazardous</option>
                            <option value="Collected">Collected</option>
                            <option value="Recycled">Recycled</option>
                            <option value="Recovered">Recovered</option>
                            <option value="Disposal">Disposal</option>
                            <option value="Treatment">Treatment</option>
                            <option value="Reuse">Reuse</option>
                            <option value="Sludge">Sludge</option>
                        </select>
                    </div>
                    <div id="mapchart">
                    </div>
                </div>
                <div id="combochartcontainer" class="hidden">
                    <div class="chart-filter">
                        <select>
                            <option value="1">Solid Waste</option>
                            <option value="2">Waste Water</option>
                            <option value="3">Gaseous Emissions</option>
                        </select>
                    </div>
                    <div id="combochart"></div>
                </div>
                <div id="piecontainer">
                    <div id="piechartcontainer" class="hidden">
                        <div class="chart-filter">
                            <select>
                                <option value="1">Municipal Waste</option>
                                <option value="2">Agricultural Waste</option>
                                <option value="3">Construction & Demolition Waste</option>
                                <option value="4">E-Waste</option>
                                <option value="5">Industrial Waste</option>
                                <option value="6">Mining Waste</option>
                                <option value="7">Healthcare Waste</option>
                            </select>
                        </div>
                        <div id="piechart">
                        </div>
                    </div>
                    <div id="piechartcontainer2" class="hidden">
                        <div class="chart-filter">
                            <select>
                                <option value="Generated">Generated</option>
                                <option value="Hazardous">Hazardous</option>
                                <option value="Collected">Collected</option>
                                <option value="Recycled">Recycled</option>
                                <option value="Recovered">Recovered</option>
                                <option value="Disposal">Disposal</option>
                                <option value="Treatment">Treatment</option>
                                <option value="Reuse">Reuse</option>
                                <option value="Sludge">Sludge</option>
                            </select>
                        </div>
                        <div id="piechart2"></div>
                    </div>
                </div>
                <div id="combochartallyearcontainer" class="hidden">
                    <div class="chart-filter">
                        <select>
                            <option value="1">Solid Waste</option>
                            <option value="2">Waste Water</option>
                            <option value="3">Gaseous Emissions</option>
                        </select>
                    </div>
                    <div id="combochartallyear"></div>
                </div>
            </div>
            @Html.Raw(ViewBag.Data)
        </div>
    </div>

    @*<div class="c-content-box c-size-md c-bg-white">
            <div class="container">

                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Upcoming Conferences and Seminars</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>

                <div class="row">
                    <div class="col-md-6 conference">
                        @{
                            var data = (DataTable)ViewBag.Seminar;

                            foreach (DataRow row in data.Rows)
                            {
                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">

                                            @{
                                if (row["Thumbnail"] != DBNull.Value)
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/@row["Thumbnail"].ToString());"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/seminar.png);"></div>
                                    </div>
                                }
                                            }

                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Seminars/Detail?id=@row["id"].ToString()">@row["Title"].ToString()</a>
                                                </h3>

                                                @{
                                DateTime start = DateTime.Parse(row["datestart"].ToString());
                                DateTime end = DateTime.Parse(row["dateend"].ToString());
                                                }

                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@start.ToString("dd MMM yyyy ") to @end.ToString("dd MMM yyyy") | @row["Location"].ToString()</p>
                                                <div class="conference-content c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                    @Html.Raw(row["Description"].ToString())
                                                </div>
                                                <a class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" href="../Seminars/Detail?id=@row["id"].ToString()" style="color:white;"> EXPLORE </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="col-md-6 conference">
                        @{
                            data = (DataTable)ViewBag.Conferences;

                            foreach (DataRow row in data.Rows)
                            {
                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">

                                            @{
                                if (row["Thumbnail"] != DBNull.Value)
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/@row["Thumbnail"].ToString());"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/conference.png);"></div>
                                    </div>
                                }
                                            }

                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Conferences/Detail?id=@row["id"].ToString()">@row["Title"].ToString()</a>
                                                </h3>

                                                @{
                                DateTime start = DateTime.Parse(row["datestart"].ToString());
                                DateTime end = DateTime.Parse(row["dateend"].ToString());
                                                }

                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@start.ToString("dd MMM yyyy") to @end.ToString("dd MMM yyyy") | @row["Location"].ToString()</p>
                                                <div class="conference-content c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                    @Html.Raw(row["Description"].ToString())
                                                </div>
                                                <a class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" href="../Conferences/Detail?id=@row["id"].ToString()" style="color:white;"> EXPLORE </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>*@

    <div class="experts c-content-box c-size-md c-bg-grey-1" style="background-color: white!important; padding: 50px 0px">
        <div class="container">
            <div class="c-content-person-1-slider" data-slider="owl" data-items="4" data-auto-play="3000">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Good Practices</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="owl-carousel owl-theme c-theme">
                    @{
                        DataTable blogs = (DataTable)ViewBag.Blogs;

                        foreach (DataRow row in blogs.Rows)
                        {
                            <div class="item">
                                <div class="c-content-person-1">
                                    <div class="c-caption c-content-overlay">
                                        @{
                                            if (row["Photo"].ToString() == "")
                                            {
                                                <a href="~/MarineDebris/GoodPractices/@row["ID"].ToString()" style="width: 100px; height: 100px; background-image: url('../Documents/anonymous.jpg'); background-size: cover; border-radius: 5px;"></a>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/anonymous.jpg" alt="">*@
                                            }
                                            else
                                            {
                                                <a href="~/MarineDebris/GoodPractices/@row["ID"].ToString()" style="width:200px;height:200px;background-image:url('../Documents/Blogs/@row["Photo"].ToString().Split(';')[0]'); background-size: cover; border-radius: 2px; margin: auto; display: block;"></a>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/@row["Thumbnail"].ToString()" alt="">*@
                                            }
                                        }

                                    </div>
                                    <div class="c-body" style="padding: 10px 0;">
                                        <div class="c-head">
                                            <div class="c-name" style="font-size: 16px; width: 100%; text-align: center;"><a href="~/MarineDebris/GoodPractices/@row["ID"].ToString()">@row["Title"].ToString()</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="experts c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="c-content-person-1-slider" data-slider="owl" data-items="6" data-auto-play="4000">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Experts in the field</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="owl-carousel owl-theme c-theme">
                    @{
                        DataTable data = (DataTable)ViewBag.Rosters;

                        foreach (DataRow row in data.Rows)
                        {
                            <div class="item">
                                <div class="c-content-person-1">
                                    <div class="c-caption c-content-overlay">
                                        @{
                                            if (row["Thumbnail"].ToString() == "")
                                            {
                                                <div style="width: 100px; height: 100px; background-image: url('../Documents/anonymous.jpg'); background-size: cover; border-radius: 5px;"></div>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/anonymous.jpg" alt="">*@
                                            }
                                            else
                                            {
                                                <div style="width:100px;height:100px;background-image:url('../Documents/@row["Thumbnail"].ToString().Split(';')[0]'); background-size: cover; border-radius: 5px;"></div>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/@row["Thumbnail"].ToString()" alt="">*@
                                            }
                                        }

                                    </div>
                                    <div class="c-body" style="padding: 10px 0;">
                                        <div class="c-head">
                                            <div class="c-name" style="font-size: 16px;"><a href="../Experts#@row["id"].ToString()">@row["firstname"].ToString() @row["lastname"].ToString()</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Documents</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="row c-margin-b-15">
                <div class="col-md-12 news">
                    @Html.Raw(ViewBag.Document)

                    @*@{
                            data = (DataTable)ViewBag.Events;

                            foreach (DataRow row in data.Rows)
                            {
                                var datestart = DateTime.Parse(row["datestart"].ToString()).ToString("dd MMM yyyy");
                                var dateend = DateTime.Parse(row["dateend"].ToString()).ToString("dd MMM yyyy");


                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">
                                            <div class="c-content-overlay">
                                                @{
                                                    if (row["Thumbnail"].ToString() == "")
                                                    {
                                                        <img src="../Documents/default.png" />
                                                    }
                                                    else
                                                    {
                                                        <img src="../Documents/@row["Thumbnail"].ToString()" />
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Events/Detail?id=@row["id"].ToString()">@row["name"].ToString()</a>
                                                </h3>
                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@datestart to @dateend | @row["location"].ToString()</p>
                                                <div class="news-content">@Html.Raw(row["description"].ToString())</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }*@

                </div>
                <div class="col-md-6 news">

                    @*<div class="col-tweets">
                            <div class="col-md-12">
                                <a class="twitter-timeline" href="https://twitter.com/unep_ietc" data-widget-id="708284667619876864">Tweets by unep_ietc</a>
                                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                                @Html.Raw(ViewBag.Tweets)
                            </div>
                        </div>*@

                    @*@{
                            data = (DataTable)ViewBag.Events;

                            foreach (DataRow row in data.Rows)
                            {
                                var datestart = DateTime.Parse(row["datestart"].ToString()).ToString("dd MMM yyyy");
                                var dateend = DateTime.Parse(row["dateend"].ToString()).ToString("dd MMM yyyy");

                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">
                                            <div class="c-content-overlay">
                                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 220px; background-image: url(../Content/Images/events/@row["thumbnail"].ToString());"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Events/Detail?id=@row["id"].ToString()">@row["name"].ToString()</a>
                                                </h3>
                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@datestart to @dateend | @row["location"].ToString()</p>
                                                <div class="news-content">@Html.Raw(row["description"].ToString())</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }*@
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="c-prefooter c-bg-white" style="padding: 30px; margin-bottom: 20px; background-color: #31383c11 !important;">
            <div class="c-body">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="logo-padding-bottom">
                            <a href="http://www.rrcap.ait.ac.th" target="_blank">
                                <img class="c-content-isotope-image" src="~/Content/marine-debris/AIT-RRCAP.png" alt="rrcap-logo" width="150px">
                            </a>
                        </div>
                    </div>
                    <span></span>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <p class="c-address c-font-16">
                            The kNOwWaste Knowledge Platform was developed through a Project Cooperation Agreement funding by UNEP on 2016. The platform provides data and information on holistic waste management to stakeholders in Asia and the Pacific region. The platform was developed with the following aims: generate and consolidate data or information on holistic waste management, transform data into easily comprehensible outputs for use by key stakeholders, map out and disseminate information on international waste management projects under the GPWM and UNEP projects as well as other international partners, and provide capacity building support through dissemination of data or information support for relevant stakeholders on holistic waste and waste management system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="blog-container c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Latest IETC Tweets</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-blog-post-1">
                            <a class="twitter-timeline" href="https://twitter.com/unep_ietc">Tweets by unep_ietc</a>
                            <script async src="//platform.twitter.com/widgets.js" style="charset:utf-8;"></script>
                            @Html.Raw(ViewBag.Tweets)
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="blog-container c-content-box c-size-md">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Latest Blogs</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-blog-post-1">
                            <div class="c-media">
                                <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                    <div class="owl-carousel owl-theme c-theme owl-single">
                                        @{
                                            data = (DataTable)ViewBag.Blogs;

                                            foreach (DataRow row in data.Rows)
                                            {
                                                <div class="item blog-item">
                                                @{
                                                    if (row["Thumbnail"].ToString() == "")
                                                    {
                                                        <div class="c-content-media-2" style="background-image: url(../Documents/blog.jpg); min-height: 460px;"></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="c-content-media-2" style="background-image: url(../Documents/@row["Thumbnail"].ToString()); min-height: 460px;"></div>
                                                    }
                                                }

                                                    <div class="blog-text">
                                                        <div class="c-title c-font-bold c-font-uppercase">
                                                            <a href="#">@row["Title"].ToString()</a>
                                                        </div>
                                                        <div class="c-desc">
                                                            @Html.Raw(row["Description"].ToString())
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Latest Documents</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                    @Html.Raw(ViewBag.Document)
                </div>
            </div>
        </div>*@

    @*<div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <!-- Begin: Testimonals 1 component -->
                <div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl" data-items="6" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="2" data-auto-play="5000">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">our partners</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <!-- Begin: Owlcarousel -->
                    <div class="owl-carousel owl-theme c-theme owl-bordered1">
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/unep.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ietc.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/gpwm.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ait.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/aits.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/RRCAP.PNG" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/unep.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ietc.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/gpwm.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ait.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/aits.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/RRCAP.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <!-- End-->
                </div>
                <!-- End-->
            </div>
        </div>*@
</div>