@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;
@{
    DataTable blogs = (DataTable)ViewBag.Blogs;
    DataTable rosters = (DataTable)ViewBag.Rosters;
}
<link href="~/Content/home.css" rel="stylesheet" />
<link href="~/Content/data.css" rel="stylesheet" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/data.js"></script>

@using System.Data;

<div class="row">
    <div class="">
        <div id="kt_carousel_1_carousel" class="carousel carousel-fade carousel-custom slide" data-bs-ride="carousel" data-bs-interval="4000">
            <!--begin::Carousel-->
            <div class="carousel-inner">
                <!--begin::Item-->
                <div class="carousel-item active">
                    <div class="text-center px-0 pt-0 pt-lg-0 px-lg-0" style="background-image: url(/Content/Images/banner/banner_marine2.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50%; background-attachment: fixed;">
                        <div class="min-h-650px py-10" style="display: grid; align-items: end;">

                        </div>
                    </div>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="carousel-item">
                    <div class="text-center px-0 pt-0 pt-lg-0 px-lg-0" style="background-image: url(/Content/Images/banner/banner_Ewaste03.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50%; background-attachment: fixed;">
                        <div class="min-h-650px py-10" style="display: grid; align-items: end;">

                        </div>
                    </div>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="carousel-item">
                    <div class="text-center px-0 pt-0 pt-lg-0 px-lg-0" style="background-image: url(/Content/Images/banner/banner_Ewaste02.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50%; background-attachment: fixed;">
                        <div class="min-h-650px py-10" style="display: grid; align-items: end;">

                        </div>
                    </div>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="carousel-item">
                    <div class="text-center px-0 pt-0 pt-lg-0 px-lg-0" style="background-image: url(/Content/Images/banner/banner_Ewaste04.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50%; background-attachment: fixed;">
                        <div class="min-h-650px py-10" style="display: grid; align-items: end;">

                        </div>
                    </div>
                </div>
                <!--end::Item-->
            </div>
            <!--end::Carousel-->
        </div>
    </div>
</div>

<div class="container my-20">
    <div class="row">
        <div class="col-sm-4 p-10">
            <div class="h-60px w-60px m-auto my-5" style="background-image: url(Content/base/img/content/line-icons/default.png); background-position: 0px -1300%; background-size: cover;"></div>
            <h1 class="text-center">TO INFORM</h1>
            <p class="text-center fs-4">
                An interactive and intuitive sustainable waste and resource management knowledge repository
            </p>
        </div>
        <div class="col-sm-4 p-10">
            <div class="h-60px w-60px m-auto my-5" style="background-image: url(Content/base/img/content/line-icons/default.png); background-position: 0px -2500%; background-size: cover;"></div>
            <h1 class="text-center">TO EMPOWER</h1>
            <p class="text-center fs-4">Knowledge and capacity building on the transfer of sustainable waste and resource management</p>
        </div>
        <div class="col-sm-4 p-10">
            <div class="h-60px w-60px m-auto my-5" style="background-image: url(Content/base/img/content/line-icons/default.png); background-size: cover;"></div>
            <h1 class="text-center">TO CONNECT</h1>
            <p class="text-center fs-4">Bringing together sustainable waste and resource management related professional and institutions</p>
        </div>
    </div>
</div>

<div class="row py-10 my-20 px-5">
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h3 class="fs-2hx text-dark title" id="team" data-kt-scroll-offset="{default: 100, lg: 150}">GOOD PRACTICES</h3>
        <!--end::Title-->
        <!--begin::Sub-title-->
        <div class="fs-5 text-muted fw-bold d-none">
            Description Here - Lorem ipsum dolor sit amet,
            <br>Details here - consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <!--end::Sub-title=-->
    </div>
    <!--end::Heading-->
    <!--begin::Slider-->
    <div class="tns tns-default tns-initiazlied">
        <!--begin::Wrapper-->
        <div class="tns-outer" id="tns2-ow">
            <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">7 to 8</span>  of 7</div><div id="tns2-mw" class="tns-ovh">
                <div class="tns-inner" id="tns2-iw">
                    <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 4}, 968: {items: 3}}" class="tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns2" style="transform: translate3d(-40%, 0px, 0px);">
                        @foreach (DataRow row in blogs.Rows)
                        {
                            int MaxLength = 70;

                            if (row["Description"].ToString().Length < MaxLength)
                            {
                                MaxLength = row["Description"].ToString().Length;
                            }
                            <div class="card card-rounded s-border box-shadow text-center tns-item tns-slide-cloned m-10" aria-hidden="true" tabindex="-1">
                                <div class="h-100">
                                    <a class="d-block overlay" href="MarineDebris/GoodPractices/@row["ID"].ToString()">
                                        <!--begin::Image-->
                                        <div class="overlay-wrapper s-border-top bgi-no-repeat bgi-position-center bgi-size-cover min-h-175px" style="background-image:url('Documents/Blogs/@row["Photo"].ToString().Split(';')[0]')"></div>
                                        <!--end::Image-->
                                        <!--begin::Action-->
                                        <div class="overlay-layer s-border-top bg-dark bg-opacity-50">
                                            <span class="row text-center text-white fw-bolder fs-2 lh-base d-none">@row["Title"].ToString()</span>
                                            <br />
                                            <i class="bi bi-eye-fill fs-2x text-white"></i>
                                        </div>
                                        <!--end::Action-->
                                    </a>
                                    <!--begin::Body-->
                                    <a href="MarineDebris/GoodPractices/@row["ID"].ToString()" class="m-0 p-5">
                                        <!--begin::Title-->
                                        <div href="MarineDebris/GoodPractices/@row["ID"].ToString()" class="px-2 fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">@row["Title"].ToString()</div>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <div class="px-2 fw-bold fs-6 text-gray-600 text-dark my-4 d-none">@Html.Raw(row["Description"].ToString().Substring(0, MaxLength))...<span class="text-primary" href="MarineDebris/GoodPractices/@row["ID"].ToString()">see more</span></div>
                                        <!--end::Text-->
                                        <div class="fs-6 fw-bolder d-none">
                                            <span class="text-gray-500 text-hover-primary" style="white-space: normal; text-align: left;">@row["Country"].ToString()</span>
                                        </div>
                                        <!--begin::Content-->
                                        <div class="px-2 fs-6 fw-bolder d-none">
                                            <!--begin::Author-->
                                            <span class="text-gray-700 text-hover-primary">@row["Author"].ToString()</span>
                                            <!--end::Author-->
                                            <!--begin::Date-->
                                            <span class="text-muted d-none">on Mar 21 2021</span>
                                            <!--end::Date-->
                                        </div>
                                        <!--end::Content-->
                                    </a>
                                    <!--end::Body-->
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--end::Wrapper-->
        <!--begin::Button-->
        <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev" aria-controls="tns2" tabindex="-1" data-controls="prev">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
            <span class="svg-icon svg-icon-3x">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="black"></path>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </button>
        <!--end::Button-->
        <!--begin::Button-->
        <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next" aria-controls="tns2" tabindex="-1" data-controls="next">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
            <span class="svg-icon svg-icon-3x">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black"></path>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </button>
        <!--end::Button-->
    </div>
    <!--end::Slider-->
</div>

<div class="container h-700px my-20">
    <div class="col-md-12 pt-10">
        <div class="mb-7 text-center pt-15">
            <!--begin::Title-->
            <h1 class="text-dark fs-1 mb-15 p-2 fw-boldest">EXPERT ROSTERS</h1>
            <!--begin::Slider-->
            <div class="tns tns-default tns-initiazlied m-auto">
                <!--begin::Wrapper-->
                <div class="tns-outer" id="tns1-ow">
                    <div id="tns1-mw" class="tns-ovh">
                        <div class="tns-inner" id="tns1-iw">
                            <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="true" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="5000" data-tns-controls="false" data-tns-nav="true" data-tns-items="1" data-tns-center="false" data-tns-dots="true" data-tns-dots-position="bottom" data-tns-responsive="{1200: {items: 4}, 968: {items: 3}}" class="tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transform: translate3d(-40%, 0px, 0px);">
                                @foreach (DataRow row in rosters.Rows)
                                {
                                    <div class="document-card h-100">
                                        <a class="d-block overlay mw-200px m-auto mb-5" href="MarineDebris/Documents/@row["ID"].ToString()">
                                            <!--begin::Image-->
                                            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover min-h-200px" style="background-image:url('Documents/@row["Thumbnail"].ToString().Split(';')[0]')"></div>
                                            <!--end::Image-->
                                        </a>
                                        <a href="MarineDebris/Documents/@row["ID"].ToString()" class="fw-bolder my-5 text-gray-700" style="font-size: 20px !important;">@row["Firstname"].ToString() @row["Lastname"].ToString()</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Slider-->
        </div>
    </div>
</div>

<div class="text-center mb-5 mb-lg-10 d-none">
    <!--begin::Title-->
    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">@ViewBag.Title</h3>
    <!--end::Title-->
</div>

<div class="container px-10 c-layout-page">
    <section class="c-layout-revo-slider c-layout-revo-slider-4">
        <div class="tp-banner-container c-theme d-none">
            <div class="tp-banner rev_slider" data-version="5.0">
                <ul>
                    <!--BEGIN: SLIDE #1 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_marine2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block"></h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;">

                        </div>
                        <style>
                            .marine-debris-container {
                                width: 100%;
                                text-align: center;
                            }

                            .marine-debris-button {
                                color: white;
                                padding: 15px 40px;
                                border: solid 2px #fff;
                                bottom: 10px;
                                position: absolute;
                                font-weight: 500;
                                z-index: 999;
                            }

                                .marine-debris-button:hover {
                                    color: #23A2D7;
                                    padding: 15px 40px;
                                    border: solid 2px #23A2D7;
                                    bottom: 10px;
                                    position: absolute;
                                    font-weight: 500;
                                    z-index: 999;
                                }
                        </style>
                        <div class="marine-debris-container">
                            <a class="marine-debris-button" href="~/MarineDebris">
                                See Marine Debris
                            </a>
                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #2 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste03.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #3 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste02.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #4 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt="" src="~/Content/Images/banner/banner_Ewaste04.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                             data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">  </h3>
                        </div>
                        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                             data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">

                        </div>
                    </li>
                    <!--END -->
                    <!--END -->
                </ul>
            </div>
        </div>
    </section>

    <div class="c-content-box c-size-md c-bg-white d-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp">
                        <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Inform </h3>
                        <p class="c-font-thin">An interactive and intuitive sustainable waste and resource management knowledge repository</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                        <div class="c-content-line-icon c-theme c-icon-support"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Empower</h3>
                        <p class="c-font-thin">Knowledge and capacity building on the transfer of sustainable waste and resource management</p>
                    </div>
                </div>
                <div class="col-sm-4 c-card">
                    <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                        <div class="c-content-line-icon c-theme c-fa-users"></div>
                        <h3 class="c-font-uppercase c-font-bold">To Connect</h3>
                        <p class="c-font-thin">Bringing together sustainable waste and resource management related professional and institutions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-content-box c-size-md c-bg-white" style="display: none;">
        <div class="container">

            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Waste Data</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>

            <div id="country-filter"><div style="display:none;"><span>Region:</span> @Html.Raw(ViewBag.Region)</div><div><span>Sub Region:</span> @Html.Raw(ViewBag.SubRegion)</div><div><span>Country:</span> @Html.Raw(ViewBag.Country)</div><div><span>Year:</span> @Html.Raw(ViewBag.Year)</div></div>
            <div id="charts">
                <div class="progressicon"><img src="~/Content/Images/misc/progress.gif" /></div>
                <div id="mapcontainer" class="hidden">
                    <div class="chart-filter filter-waste">
                        <select>
                            <option value="0">All</option>
                            <option value="1">Municipal Waste</option>
                            <option value="2">Agricultural Waste</option>
                            <option value="3">Construction & Demolition Waste</option>
                            <option value="4">E-Waste</option>
                            <option value="5">Industrial Waste</option>
                            <option value="6">Mining Waste</option>
                            <option value="7">Healthcare Waste</option>
                        </select>
                    </div>
                    <div class="chart-filter filter-type">
                        <select>
                            <option value="Generated">Generated</option>
                            <option value="Hazardous">Hazardous</option>
                            <option value="Collected">Collected</option>
                            <option value="Recycled">Recycled</option>
                            <option value="Recovered">Recovered</option>
                            <option value="Disposal">Disposal</option>
                            <option value="Treatment">Treatment</option>
                            <option value="Reuse">Reuse</option>
                            <option value="Sludge">Sludge</option>
                        </select>
                    </div>
                    <div id="mapchart">
                    </div>
                </div>
                <div id="combochartcontainer" class="hidden">
                    <div class="chart-filter">
                        <select>
                            <option value="1">Solid Waste</option>
                            <option value="2">Waste Water</option>
                            <option value="3">Gaseous Emissions</option>
                        </select>
                    </div>
                    <div id="combochart"></div>
                </div>
                <div id="piecontainer">
                    <div id="piechartcontainer" class="hidden">
                        <div class="chart-filter">
                            <select>
                                <option value="1">Municipal Waste</option>
                                <option value="2">Agricultural Waste</option>
                                <option value="3">Construction & Demolition Waste</option>
                                <option value="4">E-Waste</option>
                                <option value="5">Industrial Waste</option>
                                <option value="6">Mining Waste</option>
                                <option value="7">Healthcare Waste</option>
                            </select>
                        </div>
                        <div id="piechart">
                        </div>
                    </div>
                    <div id="piechartcontainer2" class="hidden">
                        <div class="chart-filter">
                            <select>
                                <option value="Generated">Generated</option>
                                <option value="Hazardous">Hazardous</option>
                                <option value="Collected">Collected</option>
                                <option value="Recycled">Recycled</option>
                                <option value="Recovered">Recovered</option>
                                <option value="Disposal">Disposal</option>
                                <option value="Treatment">Treatment</option>
                                <option value="Reuse">Reuse</option>
                                <option value="Sludge">Sludge</option>
                            </select>
                        </div>
                        <div id="piechart2"></div>
                    </div>
                </div>
                <div id="combochartallyearcontainer" class="hidden">
                    <div class="chart-filter">
                        <select>
                            <option value="1">Solid Waste</option>
                            <option value="2">Waste Water</option>
                            <option value="3">Gaseous Emissions</option>
                        </select>
                    </div>
                    <div id="combochartallyear"></div>
                </div>
            </div>
            @Html.Raw(ViewBag.Data)
        </div>
    </div>

    @*<div class="c-content-box c-size-md c-bg-white">
            <div class="container">

                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Upcoming Conferences and Seminars</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>

                <div class="row">
                    <div class="col-md-6 conference">
                        @{
                            var data = (DataTable)ViewBag.Seminar;

                            foreach (DataRow row in data.Rows)
                            {
                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">

                                            @{
                                if (row["Thumbnail"] != DBNull.Value)
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/@row["Thumbnail"].ToString());"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/seminar.png);"></div>
                                    </div>
                                }
                                            }

                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Seminars/Detail?id=@row["id"].ToString()">@row["Title"].ToString()</a>
                                                </h3>

                                                @{
                                DateTime start = DateTime.Parse(row["datestart"].ToString());
                                DateTime end = DateTime.Parse(row["dateend"].ToString());
                                                }

                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@start.ToString("dd MMM yyyy ") to @end.ToString("dd MMM yyyy") | @row["Location"].ToString()</p>
                                                <div class="conference-content c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                    @Html.Raw(row["Description"].ToString())
                                                </div>
                                                <a class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" href="../Seminars/Detail?id=@row["id"].ToString()" style="color:white;"> EXPLORE </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="col-md-6 conference">
                        @{
                            data = (DataTable)ViewBag.Conferences;

                            foreach (DataRow row in data.Rows)
                            {
                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">

                                            @{
                                if (row["Thumbnail"] != DBNull.Value)
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/@row["Thumbnail"].ToString());"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="c-content-overlay">
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../Content/Images/conference.png);"></div>
                                    </div>
                                }
                                            }

                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Conferences/Detail?id=@row["id"].ToString()">@row["Title"].ToString()</a>
                                                </h3>

                                                @{
                                DateTime start = DateTime.Parse(row["datestart"].ToString());
                                DateTime end = DateTime.Parse(row["dateend"].ToString());
                                                }

                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@start.ToString("dd MMM yyyy") to @end.ToString("dd MMM yyyy") | @row["Location"].ToString()</p>
                                                <div class="conference-content c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
                                                    @Html.Raw(row["Description"].ToString())
                                                </div>
                                                <a class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" href="../Conferences/Detail?id=@row["id"].ToString()" style="color:white;"> EXPLORE </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>*@

    <div class="experts c-content-box c-size-md c-bg-grey-1 d-none" style="background-color: white!important; padding: 50px 0px">
        <div class="container">
            <div class="c-content-person-1-slider" data-slider="owl" data-items="4" data-auto-play="3000">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Good Practices</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="owl-carousel owl-theme c-theme">
                    @{
                        foreach (DataRow row in blogs.Rows)
                        {
                            <div class="item">
                                <div class="c-content-person-1">
                                    <div class="c-caption c-content-overlay">
                                        @{
                                            if (row["Photo"].ToString() == "")
                                            {
                                                <a href="~/MarineDebris/GoodPractices/@row["ID"].ToString()" style="width: 100px; height: 100px; background-image: url('../Documents/anonymous.jpg'); background-size: cover; border-radius: 5px;"></a>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/anonymous.jpg" alt="">*@
                                            }
                                            else
                                            {
                                                <a href="~/MarineDebris/GoodPractices/@row["ID"].ToString()" style="width:200px;height:200px;background-image:url('../Documents/Blogs/@row["Photo"].ToString().Split(';')[0]'); background-size: cover; border-radius: 2px; margin: auto; display: block;"></a>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/@row["Thumbnail"].ToString()" alt="">*@
                                            }
                                        }

                                    </div>
                                    <div class="c-body" style="padding: 10px 0;">
                                        <div class="c-head">
                                            <div class="c-name" style="font-size: 16px; width: 100%; text-align: center;"><a href="~/MarineDebris/GoodPractices/@row["ID"].ToString()">@row["Title"].ToString()</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="experts c-content-box c-size-md c-bg-grey-1 d-none">
        <div class="container">
            <div class="c-content-person-1-slider" data-slider="owl" data-items="6" data-auto-play="4000">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Experts in the field</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="owl-carousel owl-theme c-theme">
                    @{
                        DataTable data = (DataTable)ViewBag.Rosters;

                        foreach (DataRow row in data.Rows)
                        {
                            <div class="item">
                                <div class="c-content-person-1">
                                    <div class="c-caption c-content-overlay">
                                        @{
                                            if (row["Thumbnail"].ToString() == "")
                                            {
                                                <div style="width: 100px; height: 100px; background-image: url('../Documents/anonymous.jpg'); background-size: cover; border-radius: 5px;"></div>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/anonymous.jpg" alt="">*@
                                            }
                                            else
                                            {
                                                <div style="width:100px;height:100px;background-image:url('../Documents/@row["Thumbnail"].ToString().Split(';')[0]'); background-size: cover; border-radius: 5px;"></div>
                                                @*<img class="c-overlay-object img-responsive" src="../Documents/@row["Thumbnail"].ToString()" alt="">*@
                                            }
                                        }

                                    </div>
                                    <div class="c-body" style="padding: 10px 0;">
                                        <div class="c-head">
                                            <div class="c-name" style="font-size: 16px;"><a href="../Experts#@row["id"].ToString()">@row["firstname"].ToString() @row["lastname"].ToString()</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Documents</h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="row c-margin-b-15">
                <div class="col-md-12 news">
                    @Html.Raw(ViewBag.Document)

                    @*@{
                            data = (DataTable)ViewBag.Events;

                            foreach (DataRow row in data.Rows)
                            {
                                var datestart = DateTime.Parse(row["datestart"].ToString()).ToString("dd MMM yyyy");
                                var dateend = DateTime.Parse(row["dateend"].ToString()).ToString("dd MMM yyyy");


                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">
                                            <div class="c-content-overlay">
                                                @{
                                                    if (row["Thumbnail"].ToString() == "")
                                                    {
                                                        <img src="../Documents/default.png" />
                                                    }
                                                    else
                                                    {
                                                        <img src="../Documents/@row["Thumbnail"].ToString()" />
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Events/Detail?id=@row["id"].ToString()">@row["name"].ToString()</a>
                                                </h3>
                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@datestart to @dateend | @row["location"].ToString()</p>
                                                <div class="news-content">@Html.Raw(row["description"].ToString())</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }*@

                </div>
                <div class="col-md-6 news">

                    @*<div class="col-tweets">
                            <div class="col-md-12">
                                <a class="twitter-timeline" href="https://twitter.com/unep_ietc" data-widget-id="708284667619876864">Tweets by unep_ietc</a>
                                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                                @Html.Raw(ViewBag.Tweets)
                            </div>
                        </div>*@

                    @*@{
                            data = (DataTable)ViewBag.Events;

                            foreach (DataRow row in data.Rows)
                            {
                                var datestart = DateTime.Parse(row["datestart"].ToString()).ToString("dd MMM yyyy");
                                var dateend = DateTime.Parse(row["dateend"].ToString()).ToString("dd MMM yyyy");

                                <div class="c-margin-b-40">
                                    <div class="c-content-product-2 c-bg-white">
                                        <div class="col-md-4">
                                            <div class="c-content-overlay">
                                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 220px; background-image: url(../Content/Images/events/@row["thumbnail"].ToString());"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="c-info-list">
                                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                                    <a class="c-theme-link" href="../Events/Detail?id=@row["id"].ToString()">@row["name"].ToString()</a>
                                                </h3>
                                                <p class="c-order-date c-font-14 c-font-thin c-theme-font">@datestart to @dateend | @row["location"].ToString()</p>
                                                <div class="news-content">@Html.Raw(row["description"].ToString())</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }*@
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="c-prefooter c-bg-white" style="padding: 30px; margin-bottom: 20px; background-color: #31383c11 !important;">
            <div class="c-body">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="logo-padding-bottom">
                            <a href="http://www.rrcap.ait.ac.th" target="_blank">
                                <img class="c-content-isotope-image" src="~/Content/marine-debris/AIT-RRCAP.png" alt="rrcap-logo" width="150px">
                            </a>
                        </div>
                    </div>
                    <span></span>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <p class="c-address c-font-16">
                            The kNOwWaste Knowledge Platform was developed through a Project Cooperation Agreement funding by UNEP on 2016. The platform provides data and information on holistic waste management to stakeholders in Asia and the Pacific region. The platform was developed with the following aims: generate and consolidate data or information on holistic waste management, transform data into easily comprehensible outputs for use by key stakeholders, map out and disseminate information on international waste management projects under the GPWM and UNEP projects as well as other international partners, and provide capacity building support through dissemination of data or information support for relevant stakeholders on holistic waste and waste management system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="blog-container c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-title-1">
                <h3 class="c-center c-font-uppercase c-font-bold">Latest IETC Tweets</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-blog-post-1">
                            <a class="twitter-timeline" href="https://twitter.com/unep_ietc">Tweets by unep_ietc</a>
                            <script async src="//platform.twitter.com/widgets.js" style="charset:utf-8;"></script>
                            @Html.Raw(ViewBag.Tweets)
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="blog-container c-content-box c-size-md">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Latest Blogs</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-blog-post-1">
                            <div class="c-media">
                                <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                    <div class="owl-carousel owl-theme c-theme owl-single">
                                        @{
                                            data = (DataTable)ViewBag.Blogs;

                                            foreach (DataRow row in data.Rows)
                                            {
                                                <div class="item blog-item">
                                                @{
                                                    if (row["Thumbnail"].ToString() == "")
                                                    {
                                                        <div class="c-content-media-2" style="background-image: url(../Documents/blog.jpg); min-height: 460px;"></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="c-content-media-2" style="background-image: url(../Documents/@row["Thumbnail"].ToString()); min-height: 460px;"></div>
                                                    }
                                                }

                                                    <div class="blog-text">
                                                        <div class="c-title c-font-bold c-font-uppercase">
                                                            <a href="#">@row["Title"].ToString()</a>
                                                        </div>
                                                        <div class="c-desc">
                                                            @Html.Raw(row["Description"].ToString())
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Latest Documents</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <div class="row">
                    @Html.Raw(ViewBag.Document)
                </div>
            </div>
        </div>*@

    @*<div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <!-- Begin: Testimonals 1 component -->
                <div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl" data-items="6" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="2" data-auto-play="5000">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">our partners</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <!-- Begin: Owlcarousel -->
                    <div class="owl-carousel owl-theme c-theme owl-bordered1">
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/unep.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ietc.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/gpwm.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ait.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/aits.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/RRCAP.PNG" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/unep.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ietc.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/gpwm.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/ait.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/aits.png" alt="" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="~/Content/Images/logo/RRCAP.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <!-- End-->
                </div>
                <!-- End-->
            </div>
        </div>*@
</div>