@model KnowWaste.Models.Experts
@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb">
    <div class=" container container-md container-lg py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-uppercase"><a href="marine debris.html">About</a></li>
                <li class="breadcrumb-item active text-uppercase" aria-current="page">Experts</li>
            </ol>
        </nav>
    </div>
</section>


<!-- Hero Section -->
<!-- About Section -->
<section class="py-3 ">
    <div class="container">
        @foreach (ViewModels.Expert item in Model.ExpertList)
        {
            <div class="row mb-5 align-items-start" id="@item.Name.Replace(" ","")">
                <div class="col-12 col-md-2 text-center text-md-start mb-3 mb-md-0">
                    <img src="Documents/@item.Thumbnail.Split(';')[0]" alt="@item.Name.Replace(" ","")" class="img-fluid"
                         style="max-width: auto; object-fit: cover; border-radius: 10%;">
                </div>
                <div class="col-12 col-md-10">
                    <h5 class="m-0">@item.Name</h5>
                    <small class="text-muted">@item.Position</small><br>
                    @Html.Raw(item.Description)
                </div>
            </div>
        }
    </div>
</section>