@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataRow doc = (DataRow)ViewBag.Blog;
}
<div class="row mt-20">
    <div class="landing-dark-bg h-250px">
        <div class="container py-lg-20">
            <!--begin::Title-->
            <!--begin::Title-->
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span class="text-gray-800">MARINE DEBRIS</span>
                @*<span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    </span>*@
            </h1>
            <!--end::Title-->
        </div>
    </div>
</div>

<div class="container mt-lg-n20">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
            <!--begin::Card body-->
            <div class="card-body p-lg-20">
                <!--begin::Heading-->
                <div class="text-center mb-5 mb-lg-10">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">@ViewBag.Title</h3>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
                <div class="row d-flex">
                    <div class="row pb-20 pt-10">
                        <span class="fs-1 text-dark fw-bolder text-hover-primary text-dark lh-base">@doc["Title"].ToString()</span>
                        <div class="w-100">
                            <span class="badge badge-light-success fw-bolder my-2" style="white-space: normal; text-align: left;">Author: @doc["Author"].ToString()</span>
                            <span class="badge badge-light fw-bolder my-2" style="white-space: normal; text-align: left;">Date Created: @doc["Blogsdate"].ToString()</span>
                        </div>
                        <img class="mt-10" src="Documents/Blogs/@doc["Photo"].ToString()" />
                        <span class="fs-3 mt-10 text-dark fw-bolder text-hover-primary text-dark lh-base">Background</span>
                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">
                            @Html.Raw(doc["Description"].ToString())
                        </div>
                        <span class="fs-3 mt-10 text-dark fw-bolder text-hover-primary text-dark lh-base">Result Achieved</span>
                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">
                            @Html.Raw(doc["ResultsArchieved"].ToString())
                        </div>
                        <span class="fs-3 mt-10 text-dark fw-bolder text-hover-primary text-dark lh-base">Challenges and Lesson Learned</span>
                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">
                            @Html.Raw(doc["ChallengesLessonLearned"].ToString())
                        </div>
                        <span class="fs-3 mt-10 text-dark fw-bolder text-hover-primary text-dark lh-base">Replicability</span>
                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">
                            @Html.Raw(doc["Replicability"].ToString())
                        </div>
                        <span class="fs-3 mt-10 text-dark fw-bolder text-hover-primary text-dark lh-base">Sources</span>
                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">
                            @Html.Raw(doc["Sources"].ToString())
                        </div>
                        @*<span class="fs-3 mt-10 text-dark fw-bolder text-hover-primary text-dark lh-base">Company</span>
                            <div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">
                                @doc["Company"].ToString()
                                <br/>
                                @doc["Email"].ToString()
                            </div>*@
                    </div>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

    });
</script>