@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataTable countries = (DataTable)ViewBag.Country;
    DataTable doctypes = (DataTable)ViewBag.DocType;
}
<div class="row">
    <div class="landing-dark-bg h-100px">
        <div class="text-center py-lg-5">
            <!--begin::Title-->
            <!--begin::Title-->
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                    <span id="kt_landing_hero_text">Marine Debris</span>
                </span>
            </h1>
            <!--end::Title-->
        </div>
    </div>
</div>
<div class="mt-lg-n15 mb-lg-20 position-relative z-index-n2">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
            <!--begin::Card body-->
            <div class="card-body p-lg-20">
                <!--begin::Heading-->
                <div class="text-center mb-5 mb-lg-10">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">@ViewBag.Title</h3>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
                <div class="row d-flex">
                    <div class="col-md-3 p-2">
                        <form id="form-filter">
                            <div class="card shadow-sm mb-10">
                                <div class="card-header">
                                    <h4 class="card-title">Country</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-switch form-check-custom form-check-solid m-2 mb-5">
                                        <input class="form-check-input h-20px w-30px" name="country-all" type="checkbox" value="All" id="country-all" checked="checked" />
                                        <label class="form-check-label" for="country-all">
                                            All
                                        </label>
                                    </div>
                                    @foreach (DataRow row in countries.Rows)
                                    {
                                        <div class="form-check form-switch form-check-custom form-check-solid m-2">
                                            <input class="form-check-input h-20px w-30px country-filter" name="country" type="checkbox" value="@row["ID"].ToString()" id="country-@row["ID"].ToString()" checked="checked" />
                                            <label class="form-check-label" for="country-@row["ID"].ToString()">
                                                @row["Name"].ToString()
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <h4 class="card-title">Document Type</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-switch form-check-custom form-check-solid m-2 mb-5">
                                        <input class="form-check-input h-20px w-30px" name="doctype-all" type="checkbox" value="All" id="doctype-all" checked="checked" />
                                        <label class="form-check-label" for="doctype-all">
                                            All
                                        </label>
                                    </div>
                                    @foreach (DataRow row in doctypes.Rows)
                                    {
                                        <div class="form-check form-switch form-check-custom form-check-solid m-2">
                                            <input class="form-check-input h-20px w-30px doctype-filter" name="doctype" type="checkbox" value="@row["ID"].ToString()" id="doctype-@row["ID"].ToString()" checked="checked" />
                                            <label class="form-check-label" for="doctype-@row["ID"].ToString()">
                                                @row["Name"].ToString()
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9 p-2" id="document-data">
                    </div>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        getDocumentData();

        $("#datatable-Law_Policy").DataTable({
            aaSorting: [],
            language: {
                "lengthMenu": "Show _MENU_",
            },
            dom: "<'row'" +
                "<'col-sm-8 d-flex align-items-center justify-content-start'f>" +
                "<'col-sm-4 d-flex align-items-center justify-content-end'l>" +
                ">B" +

                "<'table-responsive'tr>" +

                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">",
        });

        $(".country-filter").change(function () {
            getDocumentData();
        });
        $(".doctype-filter").change(function () {
            getDocumentData();
        });
        function getDocumentData() {
            const formData = new FormData(document.getElementById("form-filter"));
            $.ajax({
                url: '/MarineDebris/getDocumentData',
                data: $("#form-filter").serialize(),
                type: 'POST',
                processData: false,
                success: function (data) {
                    var documentsData = JSON.parse(data);
                    $("#document-data").html('');
                    Object.keys(documentsData).forEach(function (key) {
                        if (documentsData[key].length > 0) {
                            var htmlString = '<div class="accordion" id="parent-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '"><div class="accordion-item"><h2 class="accordion-header" id="header-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '"><button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#body-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '" aria-expanded="false" aria-controls="body-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '">' + key + '</button></h2><div id="body-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '" class="accordion-collapse collapse show" aria-labelledby="header-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '" data-bs-parent="#parent-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '" style=""><div class="accordion-body show">'
                            for (var ctr = 0; ctr < documentsData[key].length; ctr++) {
                                htmlString += '<table id="datatable-' + key.replace(/[^a-zA-Z0-9]/g, "_").trim() + '" class="table table-row-bordered gy-5"><thead></thead><tbody>';
                                htmlString += '<tr><td><div class="row">';
                                htmlString += '<a href="MarineDebris/Documents/' + documentsData[key][ctr]["ID"] + '" class="fs-3 text-dark fw-bolder text-hover-primary text-dark lh-base">' + documentsData[key][ctr]["Title"] + '</a>';

                                htmlString += '<div class="w-100">';
                                if (documentsData[key][ctr]["Subtitle"]) {
                                    htmlString += '<span class="badge badge-white fw-bolder my-2" style="white-space: normal; text-align: left;">' + documentsData[key][ctr]["Subtitle"] + '</span></br>';
                                }
                                if (documentsData[key][ctr]["Year"].length > 0) {
                                    htmlString += '<span class="badge badge-light-primary fw-bolder my-2" style="white-space: normal; text-align: left;">Year: ' + documentsData[key][ctr]["Year"] + '</span>';
                                }
                                if (documentsData[key][ctr]["Publisher"].length > 0) {
                                    htmlString += '<span class="badge badge-light-success fw-bolder my-2" style="white-space: normal; text-align: left;">Publisher: ' + documentsData[key][ctr]["Publisher"] + '</span>';
                                }
                                if (documentsData[key][ctr]["Keyword"].length > 0) {
                                    htmlString += '<span class="badge badge-light fw-bolder my-2" style="white-space: normal; text-align: left;">Keyword: ' + documentsData[key][ctr]["Keyword"] + '</span>';
                                }
                                htmlString += '</div>';

                                htmlString += '<div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">' + documentsData[key][ctr]["Description"].substring(0, 300);
                                if (documentsData[key][ctr]["Description"].length > 300) {
                                    htmlString += '...' + '<a href="MarineDebris/Documents/' + documentsData[key][ctr]["ID"] + '">see more</a>';
                                }

                                htmlString += '</div>';
                                htmlString += '<div class="w-100">';
                                if (documentsData[key][ctr]["Attachment"]) {
                                    htmlString += '<a href="Documents/' + documentsData[key][ctr]["Attachment"] + '" class="btn btn-primary m-2" style="float: right;"><i class="bi bi-file-earmark-pdf"></i>Document</a>';
                                }
                                if (documentsData[key][ctr]["Datasource"]) {
                                    htmlString += '<a href="' + documentsData[key][ctr]["Datasource"] + '" class="btn btn-light-primary m-2" style="float: right;"><i class="bi bi-link"></i>Source</a>';
                                }
                                htmlString += '</div>';

                                htmlString += '</div></td></tr>';
                            }
                            htmlString += '</tbody></table></div></div></div></div>'

                            $("#document-data").append(htmlString);
                        }                        
                    });
                    
                },
                error: function (err) {
                    console.log(err);
                },
            })
        }
        $("#country-all").change(function () {
            if (this.checked) {
                var clist = document.getElementsByClassName("country-filter");
                for (var i = 0; i < clist.length; ++i) { clist[i].checked = true; }
            } else {
                var clist = document.getElementsByClassName("country-filter");
                for (var i = 0; i < clist.length; ++i) { clist[i].checked = false; }
            }
            getDocumentData();
        });
        $("#doctype-all").change(function () {
            if (this.checked) {
                var clist = document.getElementsByClassName("doctype-filter");
                for (var i = 0; i < clist.length; ++i) { clist[i].checked = true; }
            } else {
                var clist = document.getElementsByClassName("doctype-filter");
                for (var i = 0; i < clist.length; ++i) { clist[i].checked = false; }
            }
            getDocumentData();
        });
    });
</script>