@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataRow doc = (DataRow)ViewBag.Document;
}
<style>
    .image {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-image {
        position: relative;
        padding: 12px;
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .main-image:before {
        content: '';
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        width: 70%;
        height: 50%;
        background: #2577BC;
        animation-name: amagdic-picture-background-animation;
        animation-duration: 3s;
        z-index: -999;
    }
</style>
<div class="row mt-20">
    <div class="landing-dark-bg h-250px">
        <div class="container py-lg-20">
            <!--begin::Title-->
            <!--begin::Title-->
            <h3 class="text-white lh-base fw-bolder">
                <span class="text-gray-800">MARINE DEBRIS</span>
                @*<span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
            </span>*@
            </h3>
            <h1 class="text-white lh-base fw-bolder fs-2x fs-lg-3x">
                <span class="text-white">PUBLICATIONS/DOCUMENTS</span>
                @*<span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
            </span>*@
            </h1>
            <!--end::Title-->
        </div>
    </div>
</div>

<div class="container mt-lg-n20">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
            <!--begin::Card body-->
            <div class="card-body p-lg-20">
                <!--begin::Heading-->
                <div class="text-center mb-5 mb-lg-10 d-none">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">Publications/Documents</h3>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
                <div class="row">
                    <div class="w-100">
                        <span class="badge badge-white fw-bolder my-2 @(doc["Subtitle"].ToString() == "" || doc["Subtitle"].ToString() == null ? "d-none" : "")" style="white-space: normal; text-align: left;">@doc["Subtitle"].ToString()</span>
                        <span class="d-none badge badge-light-primary fw-bolder my-2 @(doc["Year"].ToString() == "" || doc["Year"].ToString() == null ? "d-none" : "")" style="white-space: normal; text-align: left;">Year: @doc["Year"].ToString()</span>
                        <span class="d-none badge badge-light-success fw-bolder my-2 @(doc["Publisher"].ToString() == "" || doc["Publisher"].ToString() == null ? "d-none" : "")" style="white-space: normal; text-align: left;">Publisher: @doc["Publisher"].ToString()</span>
                        <span class="d-none badge badge-light fw-bolder my-2 @(doc["Keyword"].ToString() == "" || doc["Keyword"].ToString() == null ? "d-none" : "")" style="white-space: normal; text-align: left;">Keyword: @doc["Keyword"].ToString()</span>
                    </div>
                    <div class="d-flex">
                        <div class="main-image">
                            <div class="image border border-gray-500" style="background-image: url('Documents/@doc["Thumbnail"].ToString()'); "></div>
                        </div>

                        <div class="m-2">
                            <span class="fs-3 text-dark fw-bolder text-hover-primary text-dark lh-base">@doc["Title"].ToString()</span>
                            <div>Publisher: @doc["Publisher"].ToString()</div>
                            <div>Year: @doc["Year"].ToString()</div>
                            <div>Country: @ViewData["Country"].ToString()</div>
                            <div>Category: @ViewData["Category"].ToString()</div>
                            <div>Waste Theme: @ViewData["Geotheme"].ToString()</div>
                            <div>Keyword: @doc["Keyword"].ToString()</div>

                            <div class="fw-bold fs-5 text-gray-600 text-dark mt-4" style="text-align: justify;">
                                @Html.Raw(doc["Description"].ToString())
                            </div>
                            <div id="shareBlock" class="my-3"></div>
                        </div>
                    </div>
                    <div class="w-100">
                        <a href="Documents/@doc["Attachment"].ToString().Split(';')[0]" class="btn btn-primary m-2 @(doc["Attachment"].ToString() == "" || doc["Attachment"].ToString() == null ? "d-none" : "")" style="float: right;">
                            <i class="bi bi-file-earmark-pdf"></i> Document
                        </a>
                        <a href="@doc["Datasource"].ToString().Split(';')[0]" class="btn btn-light-primary m-2 @(doc["Datasource"].ToString() == "" || doc["Datasource"].ToString() == null ? "d-none" : "")" style="float: right;">
                            <i class="bi bi-link"></i> Source
                        </a>
                    </div>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#shareBlock').cShare({
            description: '',
            showButtons: ['fb', 'linkedin', 'line', 'twitter', 'email']
        });
    });
</script>