@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataTable elearnings = (DataTable)ViewBag.ELearning;
}
<div class="row z-index-n2">
    <div class="landing-dark-bg">
        <div class="tns mh-500">
            <!--begin::Slider-->
            <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="6000" data-tns-controls="false" data-tns-nav="false" data-tns-items="1" data-tns-mouse-drag="true" data-tns-center="false" data-tns-dots="false">
                @foreach (DataRow row in elearnings.Rows)
                {
                    <a href="@row["Link"].ToString()" class="text-center px-0 pt-0 pt-lg-0 px-lg-0 mh-500px min-h-500px" style="background-image: url(Documents/ELearning/@row["Photo"].ToString()); background-repeat: no-repeat; background-size: cover; background-position: 50%">
                        <div class="col-md-4 h-100 min-h-400px px-20 py-20" style="background-color: #535551aa; margin-left: 50%; display: grid; align-content: center; background-attachment: fixed; ">
                            <div class="fs-1 h-100 fw-bolder text-white mb-2">
                                @row["Title"].ToString()
                                <span class="fw-normal d-none">@Html.Raw(row["Description"].ToString())</span>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <!--end::Slider-->
        </div>
        <!--<div class="d-flex flex-column flex-center w-100 px-9 mt-5">-->
        <!--begin::Clients-->
        <!--<div class="d-flex flex-center flex-wrap position-relative px-5">-->
        <!--begin::Client-->
        <!--<div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Fujifilm">
            <img src="https://ikhapp.org/wp-content/themes/knowledgehub/asstes/images/logo/ikhapp.svg" class="mh-30px mh-lg-40px" alt="" />
        </div>-->
        <!--end::Client-->
        <!--begin::Client-->
        <!--<div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Vodafone">
            <img src="https://rkcmpd-eria.org/wp-content/uploads/2022/08/logo-rkc-mpd-high-new.png" class="mh-30px mh-lg-40px" alt="" />
        </div>-->
        <!--end::Client-->
        <!--</div>-->
        <!--end::Clients-->
        <!--</div>-->
    </div>
</div>

<div class="row">
    <div class="col-md-12 py-10">
        <div class="container mb-7 py-20">
            <!--begin::Title-->
            <h1 class="text-dark fs-1 mb-10 fw-100 title" id="elearning-title">E-LEARNING</h1>
            <!--end::Title-->
            <!--begin::Description-->
            <div class="text-gray-400 fw-bold mb-15 d-none">Short description here</div>

            @foreach (DataRow row in elearnings.Rows)
            {
                int MaxLength = 300;

                if (row["Description"].ToString().Length < MaxLength)
                {
                    MaxLength = row["Description"].ToString().Length;
                }
                <div class="row">
                    <div class="col-md-6 p-5 align-items-center d-grid">
                        <a class="mb-5 text-dark text-hover-primary elearning-item fs-1 fw-600" href="@row["Link"].ToString()">
                            <div class="mx-5 my-2 d-none"><img src="~/Content/icons/learning.png" height="30" /></div>
                            <div class="fw-bolder my-auto text-gray-800 text-end px-10 text-hover-primary justify-content-end" style="font-size: 30px !important;">@row["Title"].ToString()</div>
                            <div class="fw-bold fs-4 my-auto text-gray-800 text-end px-10 mt-5 mw-400px float-end"> @Html.Raw(row["Description"].ToString().Substring(0, MaxLength))...<span class="fs-5 text-primary">see more</span></div>
                        </a>
                        <div class="w-100 px-10">
                            <a href="@row["Link"].ToString()" class="btn btn-primary mw-150px float-end">Explore</a>
                        </div>
                    </div>
                    <div class="col-md-6 p-5 main-image s-border-reverse">
                        <a href="@row["Link"].ToString()">
                            <div class="s-border-reverse col-md-12 min-h-300px h-100" style="background-image: url('Documents/ELearning/elearn1.jpg'); background-repeat: no-repeat; background-size: cover;">
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .title {
        color: #2577BC !important;
        font-size: 50px !important;
        letter-spacing: 10px;
    }

    .title-white {
        color: #fff !important;
        font-size: 50px !important;
        letter-spacing: 10px;
    }

    .title:after {
        content: '';
        width: 3.125rem;
        border-bottom: 4px solid #2577BC;
        margin: 1rem 0 1rem 0;
        height: 0;
        padding: 0;
        display: none;
        background-color: transparent;
    }

    .main-image {
        position: relative;
        padding: 10px;
    }

        .main-image:before {
            content: '';
            position: absolute;
            bottom: 0rem;
            right: 0rem;
            width: 70%;
            height: 40%;
            background: #2577BC;
            border-radius: 50px 15px;
            animation-name: amagdic-picture-background-animation;
            animation-duration: 3s;
            z-index: -999;
        }
</style>

@*<script src="\Scripts\jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log(document.getElementsByClassName("e-learning-videos")[0]);
            $(".e-learning-videos").find("iframe").css("height", "100%");
            $(".e-learning-videos").find("iframe").css("width", "100%");
        });
    </script>*@