@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataTable elearnings = (DataTable)ViewBag.ELearning;
}
<div class="row">
    <div class="landing-dark-bg">
        <div class="tns mh-400">
            <!--begin::Slider-->
            <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="6000" data-tns-controls="false" data-tns-nav="false" data-tns-items="1" data-tns-mouse-drag="true" data-tns-center="false" data-tns-dots="false">
                @foreach (DataRow row in elearnings.Rows)
                {
                    <a href="@row["Link"].ToString()" class="text-center px-0 pt-0 pt-lg-0 px-lg-0 mh-400px min-h-400px" style="background-image: url(Documents/ELearning/@row["Photo"].ToString()); background-repeat: no-repeat; background-size: cover; background-position: 50%">
                        <div class="col-md-4 h-100 min-h-400px px-20 py-20" style="background-color: #535551aa; margin-left: 50%; display: grid; align-content: center;">
                            <div class="fs-1 h-100 fw-bolder text-white mb-2">
                                @row["Title"].ToString()
                                <span class="fw-normal">@Html.Raw(row["Description"].ToString())</span>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <!--end::Slider-->
        </div>
        <!--<div class="d-flex flex-column flex-center w-100 px-9 mt-5">-->
        <!--begin::Clients-->
        <!--<div class="d-flex flex-center flex-wrap position-relative px-5">-->
        <!--begin::Client-->
        <!--<div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Fujifilm">
            <img src="https://ikhapp.org/wp-content/themes/knowledgehub/asstes/images/logo/ikhapp.svg" class="mh-30px mh-lg-40px" alt="" />
        </div>-->
        <!--end::Client-->
        <!--begin::Client-->
        <!--<div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="Vodafone">
            <img src="https://rkcmpd-eria.org/wp-content/uploads/2022/08/logo-rkc-mpd-high-new.png" class="mh-30px mh-lg-40px" alt="" />
        </div>-->
        <!--end::Client-->
        <!--</div>-->
        <!--end::Clients-->
        <!--</div>-->
    </div>
</div>

<div class="row w-100 my-10 px-9 d-none">
    <div class="d-flex flex-stack flex-wrap flex-md-nowrap card shadow p-8" style="background-color: #2577BC;">
        <!--begin::Content-->
        <div class="mb-5">
            <!--begin::Description-->
            <div class="fs-6 fs-lg-5 text-white fw-bold opacity-75">The kNOwWaste Knowledge Platform was developed through a Project Cooperation Agreement funding by UNEP on 2016. The platform provides data and information on holistic waste management to stakeholders in Asia and the Pacific region. The platform was developed with the following aims: generate and consolidate data or information on holistic waste management, transform data into easily comprehensible outputs for use by key stakeholders, map out and disseminate information on international waste management projects under the GPWM and UNEP projects as well as other international partners, and provide capacity building support through dissemination of data or information support for relevant stakeholders on holistic waste and waste management system.</div>
            <!--end::Description-->
        </div>
        <!--end::Content-->
    </div>
    <div class="w-100 p-5 text-center">
        <img src="Content/marine-debris/AIT-RRCAP.png" class="h-40px my-5" alt="" />
    </div>
</div>

<style>
    .title {
        color: #2577BC !important;
        font-size: 40px !important;
        letter-spacing: 15px;
    }

    .elearning-item:hover {
        padding-left: 20px;
    }

    .documents-item:hover {
        padding-right: 20px;
    }
</style>
<div class="row h-100">
    <div class="col-md-12 py-10" style="background-image: url('Content/marine-debris/elearning-1.jpg'); background-repeat: no-repeat; background-position: right; background-size: contain; background-color: white;">
        <div class="container mb-7 pt-20">
            <!--begin::Title-->
            <h1 class="text-dark fs-1 mb-10 fw-boldest title">E-LEARNING</h1>
            <!--end::Title-->
            <!--begin::Description-->
            <div class="text-gray-400 fw-bold mb-15 d-none">Short description here</div>
            <div class="w-100 mb-5">
                @foreach (DataRow row in elearnings.Rows)
                {
                    <a class="d-flex mb-5 text-dark text-hover-primary elearning-item fs-1 fw-600" href="@row["Link"].ToString()">
                        <div class="mx-5 my-2 d-none"><img src="~/Content/icons/learning.png" height="30" /></div>
                        <span class="fw-bold fs-3 my-auto text-gray-800 text-start pe-3 text-hover-primary">@row["Title"].ToString()</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@*<script src="\Scripts\jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log(document.getElementsByClassName("e-learning-videos")[0]);
            $(".e-learning-videos").find("iframe").css("height", "100%");
            $(".e-learning-videos").find("iframe").css("width", "100%");
        });
    </script>*@