@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataTable blogs = (DataTable)ViewBag.Data;
    var page = "NEWS";
}

@{ Html.RenderPartial("_Breadcrumbs", page); }

<div class="container mt-lg-n20">
    <div class="row">
        @foreach (DataRow row in blogs.Rows)
        {
            int MaxLength = 100;

            if (row["Description"].ToString().Length < MaxLength)
            {
                MaxLength = row["Description"].ToString().Length;
            }
            <div class="col-md-3 mb-10">
                <!--begin::Feature post-->
                <div class="card h-100 m-5 box-shadow">
                    <a class="d-block overlay" href="MarineDebris/News/@row["ID"].ToString()">
                        <!--begin::Image-->
                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card min-h-175px" style="background-image: url('Documents/News/@row["Photo"].ToString().Split(';')[0]')"></div>
                        <!--end::Image-->
                        <!--begin::Action-->
                        <div class="overlay-layer bg-dark bg-opacity-50">
                            <span class="row text-center text-white fw-bolder fs-2 lh-base d-none">@row["Title"].ToString()</span>
                            <br />
                            <i class="bi bi-eye-fill fs-2x text-white"></i>
                        </div>
                        <!--end::Action-->
                    </a>
                    <!--begin::Body-->
                    <a href="MarineDebris/News/@row["ID"].ToString()" class="m-0 p-5">
                        <!--begin::Title-->
                        <div class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">@row["BlogDate"].ToString()</div>
                        <!--end::Title-->
                        <div class="fs-6 fw-bolder">
                            <span class="text-gray-500 text-hover-primary" style="white-space: normal; text-align: left;">@(@row["Location"].ToString() != "" ? row["Location"].ToString() + ", " : "")@row["Country"].ToString()</span>
                        </div>
                        <!--begin::Text-->
                        <div class="fw-bold fs-5 text-gray-600 text-dark my-4">@Html.Raw(row["Title"].ToString())<span class="text-hover-primary">see more</span></div>
                        <!--end::Text-->
                        <!--begin::Content-->
                        <div class="fs-6 fw-bolder">
                            <!--begin::Author-->
                            <span class="text-gray-700 text-hover-primary">@row["Author"].ToString()</span>
                            <!--end::Author-->
                            <!--begin::Date-->
                            <span class="text-muted d-none">on Mar 21 2021</span>
                            <!--end::Date-->
                        </div>
                        <!--end::Content-->
                    </a>
                    <!--end::Body-->
                </div>
                <!--end::Feature post-->
            </div>
        }
    </div>
</div>
<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".card").hover(function () {
            $(this).children(".overlay").children(".overlay-wrapper").css("background-size", "150%");
            $(this).css("background-color", "#23A2D722");

        },
            function () {
                $(this).children(".overlay").children(".overlay-wrapper").css("background-size", "cover");
                $(this).css("background-color", "");
            });
    });
</script>