@{
    Layout = "~/Views/MarineDebris/Shared.cshtml";
}
@using System.Data;

@{
    DataTable countries = (DataTable)ViewBag.Country;
    DataTable areas = (DataTable)ViewBag.Area;
    DataTable countryPolicies = (DataTable)ViewBag.CountryPolicy;
    DataTable template = (DataTable)ViewBag.Template;
    string page = "POLICIES AND REGULATIONS";
}

@{ Html.RenderPartial("_Breadcrumbs", page); }

<div class="container mt-lg-n20">
    <!--begin::Card-->
    <div class="card" style="filter: drop-shadow(0px 0px 10px rgba(68, 81, 96, 0.08))">
        <!--begin::Card body-->
        <div class="card-body p-10">
            <!--begin::Heading-->
            <div class="text-center mb-5 mb-lg-10">
                <!--begin::Title-->
                <h3 class="fs-2hx text-dark mb-5 d-none" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #2577BC!important; ">@ViewBag.Title</h3>
                <!--end::Title-->
            </div>
            <!--end::Heading-->
            <div class="col-md-12 w-100 text-center">The Status of Marine Debris Policy in ASEAN</div>
            <div class="col-md-12 w-100 text-center">Click the capsules to view a detailed list of the relevant policies below.</div>
            <!--begin::Tabs wrapper-->
            <div class="d-flex flex-center m-10">
                <!--begin::Tabs-->
                <ul class="nav border-transparent flex-center fs-5 fw-bold">
                    <li class="nav-item">
                        <span class="policy-yes d-grid">Yes</span>
                    </li>
                    <li class="nav-item">
                        <span class="policy-no">No</span>
                    </li>
                </ul>
                <!--end::Tabs-->
            </div>
            <!--end::Tabs wrapper-->
            <!--begin::Tabs content-->
            <div class="tab-content" style="overflow-x: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            @foreach (DataRow row in areas.Rows)
                            {
                                <th class="text-center w-120px min-w-120px mw-120px p-0" style="width: 120px !important;"><h6 style="color: #535551;">@row["Name"].ToString()</h6></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow country in countries.Rows)
                        {
                            <tr>
                                <td class="p-1" style="color: #535551; white-space: nowrap; text-align: right; width: 12.5%;">@country["Name"].ToString()</td>
                                @foreach (DataRow area in areas.Rows)
                                {
                                    bool hasRecord = false;
                                    foreach (DataRow countryPolicy in countryPolicies.Rows)
                                    {
                                        if (countryPolicy["Area_ID"].ToString() == area["ID"].ToString() &&
                                            countryPolicy["Country_ID"].ToString() == country["ID"].ToString())
                                        {
                                            hasRecord = true;
                                            break;
                                        }
                                    }

                                    if (hasRecord)
                                    {
                                        <td class="p-1 text-center">
                                            <span class="policy-yes d-none" data-country="@country["ID"].ToString()" data-area="@area["ID"].ToString()">
                                            </span>
                                            <button type="button" class="policy-yes" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to load data in datatable" data-country="@country["ID"].ToString()" data-area="@area["ID"].ToString()" data-bs-html="true" data-bs-custom-class="box-shadow">
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="p-1 text-center">
                                            <span class="policy-no" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="right">
                                            </span>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--end::Tabs content-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>

<div class="mb-lg-20 position-relative z-index-2">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card" style="filter: drop-shadow(0px 0px 40px rgba(68, 81, 96, 0.08))">
            <!--begin::Card body-->
            <div class="card-body p-lg-20">
                <!--begin::Heading-->
                <div class="text-center mb-5 mb-lg-10">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}">List</h3>
                    <!--end::Title-->
                </div>
                <!--end::Heading-->
                <!--begin::Tabs content-->
                <div class="tab-content">
                    <div class="toolbar" id="kt_toolbar">
                        <!--begin::Container-->
                        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack" data-select2-id="select2-data-kt_toolbar_container">
                            <!--begin::Page title-->
                            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0 w-100">
                                <label>
                                    <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black"></path>
                                        </svg>
                                    </span>
                                    Filter:
                                </label>
                                <div class="col d-flex px-5">
                                    <label class="m-auto px-2">
                                        Country
                                    </label>
                                    <select id="filter-Country" name="Area" class="form-select form-select form-select-solid" data-placeholder="Select an option" style="border-color: #009ef7 !important;" aria-label="Area">
                                        <option value="0">All</option>
                                        @{
                                            foreach (DataRow country in countries.Rows)
                                            {
                                                <option value="@country["ID"].ToString()">@country["Name"].ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col d-flex px-5">
                                    <label class="m-auto px-2">
                                        Area
                                    </label>
                                    <select id="filter-Area" name="Area" class="form-select form-select form-select-solid" data-placeholder="Select an option" style="border-color: #009ef7 !important;" aria-label="Area">
                                        <option value="0">All</option>
                                        @{
                                            foreach (DataRow area in areas.Rows)
                                            {
                                                <option value="@area["ID"].ToString()">@area["Name"].ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col d-flex px-5">
                                    <btn id="btnSearch" class="btn btn-primary py-3">
                                        Search
                                    </btn>
                                </div>
                            </div>
                            <!--end::Page title-->
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Container-->
                </div>
                <div class="table-responsive">
                    <table class="table table-striped gy-7 gs-7 table-hover" id="datatable">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                @{
                                    foreach (DataRow col in template.Rows)
                                    {
                                        <th>@col["FieldTitle"].ToString()</th>
                                    }
                                }
                                <th class="header-action">Link</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">
                            @{
                                foreach (DataRow countryPolicy in countryPolicies.Rows)
                                {
                                    <tr class="data-row">

                                        @{
                                            foreach (DataRow col in template.Rows)
                                            {
                                                <td>@Html.Raw(countryPolicy[col["FieldName"].ToString()].ToString())</td>
                                            }
                                        }
                                        <td class="data-action" style="padding: 10px;">
                                            <div class="action-list" style="display: inline-flex;">
                                                <a href="@countryPolicy["Link"].ToString()" class="btn btn-primary mt-5 py-3" data-id="@countryPolicy["id"].ToString()" target="_blank">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                                                    </svg>
                                                </a>
                                                @if (countryPolicy["FileUpload"] != null && countryPolicy["FileUpload"].ToString() != "")
                                                {
                                                    <a href="Policy/@countryPolicy["FileUpload"].ToString()" class="btn btn-warning mt-5 py-3 ms-2" data-id="@countryPolicy["id"].ToString()" target="_blank">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                                                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                                        </svg>
                                                    </a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Tabs content-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>

<script src="\Scripts\jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".policy-yes").click(function () {
            document.getElementById("filter-Country").value = $(this).data("country");
            document.getElementById("filter-Area").value = $(this).data("area");
            GetDataTable();
            document.getElementById("datatable").scrollIntoView({
                behavior: 'smooth'
            });
        });
        $("#filter-Country").change(function () {
            GetDataTable();
        });
        $("#filter-Area").change(function () {
            GetDataTable();
        });
        $("#btnSearch").change(function () {
            GetDataTable();
        });
        function GetDataTable() {
            $.ajax({
                url: '/MarineDebris/getPolicyData?country=' + document.getElementById("filter-Country").value + "&area=" + document.getElementById("filter-Area").value,
                data: $("#form-filter-2").serialize(),
                type: 'GET',
                processData: false,
                success: function (data) {
                    var tableData = JSON.parse(data);
                    $("#table-data").html('');
                    for (var ctr = 0; ctr < tableData.length; ctr++) {
                        var row = '<tr class="data-row">';
                        row += '<td>' + tableData[ctr]["code_number"] + '</td>';
                        row += '<td>' + tableData[ctr]["Country"] + '</td>';
                        row += '<td>' + tableData[ctr]["Title"] + '</td>';
                        row += '<td>' + tableData[ctr]["Year"] + '</td>';
                        row += '<td>' + tableData[ctr]["Description"] + '</td>';
                        if (tableData[ctr]["Link"]) {
                            row += '<td class="data-action" style="padding: 10px;"><div class="action-list" style="display: inline-flex;"><a href="' + tableData[ctr]["Link"] + '" class="btn btn-primary mt-5 py-3" data-id="833">Link</a></div></td></tr>';
                        } else {
                            row += '<td class="data-action" style="padding: 10px;"></td></tr>';
                        }

                        $("#table-data").append(row);
                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }
        $("#datatable").DataTable({
            aaSorting: [],
            language: {
                "lengthMenu": "Show _MENU_",
            },
            dom: "<'row'" +
                "<'col-sm-8 d-flex align-items-center justify-content-start'f>" +
                "<'col-sm-4 d-flex align-items-center justify-content-end'l>" +
                ">" +

                "<'table-responsive'tr>" +

                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">"
        });
    });
</script>