@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}

<!-- 3Rpromar Section -->
<section class="ptb-5 ">
    <div class="container pb-120">
        <div class="text-center pb-4 pt-5">
            <h1 class="section-title pb-3 text-uppercase text-start">
                Publication</h2>
                <p class="text-muted text-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et ad facere veniam, dolores velit voluptas eaque nemo, provident aperiam dolore aut odio at, placeat labore rerum assumenda est mollitia tempora.</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3">
                <div class="mb-3 custom-sidebar">
                    <strong class="m-0 pe-3" style="padding-bottom: 4px;">Country: </strong>
                    <select class="form-select mt-2 w-100" id="countrySelect" onclick="refreshData(0);">
                        <option selected value="0" @(Model.CountryID == 0 ? "selected" : "")>All</option>
                        @foreach (ViewModels.Country country in Model.Countries)
                        {
                            <option value="@country.ID" @(Model.CountryID == country.ID ? "selected" : "")>@country.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3 custom-sidebar">
                    <strong class="m-0 pe-3" style="padding-bottom: 4px;">Year: </strong>
                    <select class="form-select mt-2 w-100" id="yearSelect" onclick="refreshData(0);">
                        <option selected value="0" @(Model.Year == 0 ? "selected" : "")>All</option>
                        @foreach (string year in Model.Years)
                        {
                            <option value="@year" @(Model.Year.ToString() == year ? "selected" : "")>@year</option>
                        }
                    </select>
                </div>
                <div class="mb-3 custom-sidebar">
                    <strong class="m-0 pe-3" style="padding-bottom: 4px;">Publisher: </strong>
                    <div class="form-check mt-2">
                        <input class="form-check-input publisher-select" type="radio" name="radioPublisher" data-val="All" @(Model.Publisher == "All" ? "checked" : "")>
                        <label class="form-check-label">
                            All
                        </label>
                    </div>
                    @foreach (string publisher in Model.Publishers)
                    {
                        <div class="form-check mt-2">
                            <input class="form-check-input publisher-select" type="radio" name="radioPublisher" data-val="@publisher" @(Model.Publisher == publisher ? "checked" : "")>
                            <label class="form-check-label">
                                @publisher
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="col-12 col-md-9 col-lg-9">
                <div class="col-3 float-start">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" id="searchInput">
                </div>
                <div class="wrapper" id="PublicationsData">
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script>
        $(document).ready(function () {
            setCookies();
            refreshData(0);

            $("#countrySelect").change(function () {
                refresh();
            });

            $("#yearSelect").change(function () {
                refresh();
            });

            $(".publisher-select").change(function () {
                refresh();
            });

            $("#searchInput").keyup(function () {
                refresh();
            });
        });

        function refresh() {
            setCookies();
            location.reload();
        }

        function refreshData(pageIndex) {
            const countryID = $("#countrySelect").val();
            const year = $("#yearSelect").val();
            const searchText = $("#searchInput").val();
            const publisher = encodeURI($(".publisher-select:checked").data("val").toString());
            const url = `/New/Publications/RefreshData?countryID=${countryID}&year=${year}&publisher=${publisher}&searchText=${searchText}&pageIndex=${pageIndex}`;
            const data = [];
            $("#PublicationsData").load(url);
        }

        function setCookies() {
            countryID = $("#countrySelect").val();
            year = $("#yearSelect").val();
            try {
                publisher = encodeURI($(".publisher-select:checked").data("val").toString());
            } catch {
                publisher = "All";
            }

            $.cookie("CountryID", countryID, { expires: 7, path: '/' });
            $.cookie("Year", year, { expires: 7, path: '/' });
            $.cookie("Publisher", publisher, { expires: 7, path: '/' });
        }
    </script>
}