@model KnowWaste.Models.News
@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}

<!-- About Section -->
<section class="ptb-60">
    <div class="container  container-md container-lg">

        <div class="row custom-padding">
            <div id="carouselExampleCaptions" class="carousel slide col-12 col-md-8 col-lg-9">
                <div class="carousel-indicators">
                    @foreach (ViewModels.Event item in Model.EventsList)
                    {
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@Model.EventsList.IndexOf(item)" @(Model.EventsList.IndexOf(item) == 0 ? "class=active aria-current=true" : null) aria-label="Slide @item.ID"></button>
                    }
                </div>
                <div class="carousel-inner ">
                    @foreach (ViewModels.Event item in Model.EventsList)
                    {
                        <div class="carousel-item @(Model.EventsList.IndexOf(item) == 0 ? "active" : null) h-510">
                            <img src="~/Documents/UpcomingEvents/@item.Thumbnail" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5); padding: 12px; text-align: start;">
                                <h6 class="text-blue text-uppercase">Latest News</h6>
                                <h4 class="text-white">@item.Title</h4>
                                <small class="text-white">@item.Location</small>
                                <p class="pt-1 text-white" style="display: -webkit-box; -webkit-line-clamp: 4;  -webkit-box-orient: vertical; overflow: hidden; ">@Html.Raw(item.Description)</p>
                                <a href="" class="btn btn-link px-0 text-white">Start Reading →</a>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="col-12 col-md-4 col-lg-3 custom-border p-0 bg-offgrey h-510 vertical-scroll">
                <h5 class="bg-white" style="padding: 12px 20px; border-left: 5px solid #0FB4DF; border-radius: 8px 8px 0px 0px;">Upcoming events</h5>
                <div class="wrapper px-3">
                    @foreach (ViewModels.Event item in Model.EventsList)
                    {
                        <div class="custom-border p-2 mb-4 bg-white">
                            <h6 class="m-0">@item.Title</h6>
                            <small>@Convert.ToDateTime(item.StartDate.Split('-')[0]).ToString("d MMMM yyyy")</small><br>
                            <small>@item.Location</small>
                            <div class="pt-3 text-truncate-3" style="display: -webkit-box; -webkit-line-clamp: 4;  -webkit-box-orient: vertical; overflow: hidden; ">@Html.Raw(item.Description)</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ptb-120">
    <div class="container">
        <h4 class="text-blue mb-4">All News</h4>
        <!-- <hr class="mb-3"> -->
        <div class="row g-4 gy-5">
            @foreach (ViewModels.News item in Model.NewsList)
            {
                <div class="col-md-4">
                    <div class="card h-100 card card-rounded s-border box-shadow tns-item tns-slide-cloned m-10">
                        <img src="~/Documents/News/@item.Photo.Split(';')[0]" class="card-img-top" alt="@item.Title">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <small>@item.Country</small>
                            <div class="card-text text-truncate-3">@Html.Raw(item.Description)</div>
                            <a href="New/News/Details/@item.ID" class="btn btn-link px-0">Start Reading →</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>