@model KnowWaste.Models.WasteData
@{ 
    var data = Model.DataList
    .GroupBy(x => new { x.WasteTypeID, x.WasteType })
    .Select(g => new ViewModels.WasteData
    {
        WasteCategory = g.Key.WasteType,

        Generated = g.Sum(x => x.TotalGenerated ?? 0),
        Hazardous = g.Sum(x => x.Hazardous ?? 0),
        Collected = g.Sum(x => x.TotalCollected ?? 0),
        Recycled = g.Sum(x => x.Recycled ?? 0),
        Recovered = g.Sum(x => x.Recovered ?? 0),
        Disposal = g.Sum(x => x.Disposal ?? 0),
        Treatment = g.Sum(x => x.Treatment ?? 0),
        Reuse = g.Sum(x => x.Reuse ?? 0),
        Sludge = g.Sum(x => x.Sludge ?? 0),

        Ref = string.Join(", ",
            g.Select(x => x.Reference)
             .Where(r => !string.IsNullOrEmpty(r))
             .Distinct()
        )
    })
    .ToList();


}

<table class="table" id="WasteDataTable">
    <thead>
        <tr>
            <th scope="col">Waste Category</th>
            <th scope="col" class="text-end">Generated</th>
            <th scope="col" class="text-end">Hazardous</th>
            <th scope="col" class="text-end">Collected</th>
            <th scope="col" class="text-end">Recycled</th>
            <th scope="col" class="text-end">Recovered</th>
            <th scope="col" class="text-end">Disposal</th>
            <th scope="col" class="text-end">Treatment</th>
            <th scope="col" class="text-end">Reuse</th>
            <th scope="col" class="text-end">Sludge</th>
            <th scope="col">Ref</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ViewModels.WasteData item in data)
        {
            <tr>
                <!-- <th scope="row">1</th> -->
                <td>@item.WasteCategory</td>
                <td align="right">@item.Generated.ToString("#,##0.#0")</td>
                <td align="right">@item.Hazardous.ToString("#,##0.#0")</td>
                <td align="right">@item.Collected.ToString("#,##0.#0")</td>
                <td align="right">@item.Recycled.ToString("#,##0.#0")</td>
                <td align="right">@item.Recovered.ToString("#,##0.#0")</td>
                <td align="right">@item.Disposal.ToString("#,##0.#0")</td>
                <td align="right">@item.Treatment.ToString("#,##0.#0")</td>
                <td align="right">@item.Reuse.ToString("#,##0.#0")</td>
                <td align="right">@item.Sludge.ToString("#,##0.#0")</td>
                <td>
                    @if (!String.IsNullOrWhiteSpace(item.Ref))
                    {
                        <div hidden="">
                            <div data-name="popover-content-@data.IndexOf(item)" style="font-size: 10px; max-height: 500px; overflow: auto;">
                                @Html.Raw(item.Ref)
                            </div>
                        </div>
                        <button id="ref-@data.IndexOf(item)" type="button" class="btn btn-primary popover-group py-1 px-2 border" data-bs-toggle="tooltip" data-bs-trigger="focus" data-bs-placement="right" style="border-radius: 20px;position:relative;margin:-10px 0px;">
                            <i class="bi bi-info-lg px-0"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>