@model KnowWaste.Models.WasteData
@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb -->
<section class="breadcrumb">
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-uppercase"><a href="#">Topic</a></li>
                <li class="breadcrumb-item active text-uppercase" aria-current="page">Waste Data</li>
            </ol>
        </nav>
    </div>
</section>

<!-- content -->
<section class="ptb-5 ">
    <div class="container pb-120">
        <div class="pb-4">
            <h1 class="section-title pb-3 text-uppercase">
                Waste Data</h1>
                <p class="text-muted text-start">This page highlights successful and replicable practices from across the ASEAN region that address waste management and marine litter. By sharing these case studies, we aim to inspire action and encourage learning for improved circular economy and 3R (Reduce, Reuse, Recycle) approaches. If you have a good practice that could help others and would like to see it featured, please email us at warm@rrcap.ait.ac.th — we welcome your contributions.</p>
        </div>
        <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center pb-5 me-4">
                <p class="m-0 pe-3">Sub region</p>
                <select class="form-select w-auto" id="subregionSelect">
                    <option value="0" @(Model.SubRegionID == 0 ? "selected" : "")>All</option>
                    @foreach (ViewModels.SubRegion item in Model.SubRegions)
                    {
                        <option value="@item.ID" @(Model.SubRegionID == item.ID ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
            <div class="d-flex align-items-center pb-5 me-4">
                <p class="m-0 pe-3">Country</p>
                <select class="form-select w-auto" id="countrySelect">
                    <option value="0" @(Model.CountryID == 0 ? "selected" : "")>All</option>
                    @foreach (ViewModels.Country item in Model.Countries)
                    {
                        <option value="@item.ID" @(Model.CountryID == item.ID ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
            <div class="d-flex align-items-center pb-5 me-4">
                <p class="m-0 pe-3">Year</p>
                <select class="form-select w-auto" id="yearSelect">
                    <option value="0" @(Model.Year == 0 ? "selected" : "")>All</option>
                    @foreach (int year in Model.Years)
                    {
                        <option value="@year" @(Model.Year == year ? "selected" : "")>@year</option>
                    }
                </select>
            </div>
        </div>
        @if(Model.PopulationList.Count == 1)
        {
            <div class="kpi-wrapper">
                <div class="country-title">
                </div>
                <div class="row mb-5">
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex justify-content-between custom-sidebar">
                            <div>
                                <h4 class="text-blue">
                                    @(Model.PopulationList != null && Model.PopulationList.Any() ? Model.PopulationList.First().Population.ToString() : "-")
                                </h4>
                                <p class="m-0">Population</p>
                            </div>
                            <div><img src="icons/crowd-of-users.png" alt="" height="60px"></div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex justify-content-between custom-sidebar">
                            <div>
                                <h4 class="text-blue">
                                    @(Model.PopulationList != null && Model.PopulationList.Any() ? Model.PopulationList.First().UrbanPopulation.ToString() : "-")
                                </h4>
                                <p class="m-0">Urban Population</p>
                            </div>
                            <div><img src="icons/crowd-of-users.png" alt="" height="60px"></div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex justify-content-between custom-sidebar">
                            <div>
                                <h4 class="text-blue">
                                    @(Model.PopulationList != null && Model.PopulationList.Any() ? Model.PopulationList.First().Area.ToString() : "-")
                                </h4>
                                <p class="m-0">Area</p>
                            </div>
                            <div><img src="icons/map_14948265.png" alt="" height="60px"></div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex justify-content-between custom-sidebar">
                            <div>
                                <h4 class="text-blue">
                                    @(Model.PopulationList != null && Model.PopulationList.Any() ? Model.PopulationList.First().IncomeLevel.ToString() : "-")
                                </h4>
                                <p class="m-0">Income Level</p>
                            </div>
                            <div><img src="icons/save-money.png" alt="" height="60px"></div>
                        </div>
                    </div>


                </div>
            </div>
        }
        <div class="wrapper">
            <div class="custom-border p-4 mb-4">
                <div class="graph-wrapper mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="m-0 text-blue">Solid Waste</h4>
                        <select class="form-select w-auto" id="chart1TypeSelect">
                            <option selected>Solid waste</option>
                            <option>Waste Water</option>
                            <option>Gaseous emission</option>
                        </select>
                    </div>
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="custom-border p-4 mb-4">
                    <div class="graph-wrapper mb-5">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h4 class="m-0 text-blue">Municipal Waste</h4>
                            <select class="form-select w-50" id="chart2TypeSelect">
                                @foreach (ViewModels.WasteType type in Model.WasteTypes)
                                {
                                    <option value="@type.ID">@type.Name</option>
                                }
                            </select>
                        </div>
                        <div id="chart2"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="custom-border p-4 mb-4">
                    <div class="graph-wrapper mb-5">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h4 class="m-0 text-blue">Generated Waste</h4>
                            <select class="form-select w-50" id="chart3TypeSelect">
                                <option selected>Generated</option>
                                <option>Hazardous</option>
                                <option>Collected</option>
                                <option>Recycled</option>
                                <option>Recovered</option>
                                <option>Disposal</option>
                                <option>Treatment</option>
                                <option>Reuse</option>
                                <option>Sludge</option>
                            </select>
                        </div>
                        <div id="chart3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-border p-4 mb-4">
            <div class="d-flex justify-content-between align-item-center">
                <h4 class="text-blue mb-4">Waste Data</h4>
            </div>

            <div class="custom-table table-responsive" id="WasteDataTable">
                @Html.Partial("_WasteData", Model)
            </div>
        </div>
        <div class="custom-border p-4 mb-4" @(Model.PolicyList.Count > 0 ? null : "hidden")>
            <h4 class="text-blue text-uppercase mb-4">Legal framework and Policy</h4>
            <div class="accordion " id="accordionExample">
                @Html.Partial("_PolicyData", Model)
            </div>
        </div>
    </div>

</section>

<!-- apexchart  -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

@section scripts{
    <!-- chart code -->
    <script>
        var subregionID, countryID, year;
        var chart1;
        var chart2;
        var chart3;
        const isMobile = navigator.userAgentData.mobile || window.orientation > -1; //resolves true/false

        $(document).ready(function () {
            subregionID = $("#subregionSelect").val();
            countryID = $("#countrySelect").val();
            year = $("#yearSelect").val();

            //renderWasteDataTable(subregionID, countryID, year);
            refreshWasteDataChart1();
            refreshWasteDataChart2();
            refreshWasteDataChart3();
        });

        $("#subregionSelect").change(function () { refresh(); });

        $("#countrySelect").change(function () { refresh(); });

        $("#yearSelect").change(function () { refresh(); });

        $("#chart1TypeSelect").change(function () {
            chart1.destroy();
            refreshWasteDataChart1();
        });

        $("#chart2TypeSelect").change(function () {
            chart2.destroy();
            refreshWasteDataChart2();
        });

        $("#chart3TypeSelect").change(function () {
            chart3.destroy();
            refreshWasteDataChart3();
        });

        function refresh() {
            subregionID = $("#subregionSelect").val();
            countryID = $("#countrySelect").val();
            year = $("#yearSelect").val();

            $.cookie("CountryID", countryID, { expires: 7, path: '/' });
            $.cookie("SubRegionID", subregionID, { expires: 7, path: '/' });
            $.cookie("Year", year, { expires: 7, path: '/' });

            location.reload();
        }

        function renderPolicyDataTable(country, year) {
            $("#PolicyList").load(`/Data/getPolicyData?country=${country}&year=${year}`);
        }

        function renderWasteDataTable(subregion, country, year) {
            $("#WasteDataTable").load(`/Data/getWasteData?subregion=${subregion}&country=${country}&year=${year}`, function () {
                $("#datatableWasteData").DataTable({
                    "lengthChange": false,
                    "ordering": false,
                    "paging": false,
                    "dom": "<'table-responsive'tr>"
                });
            });
        }

        function refreshWasteDataChart1() {
            const type = $("#chart1TypeSelect").val()
            $.ajax({
                url: `/New/WasteData/getWasteChart1?subregionID=${subregionID}&countryID=${countryID}&year=${year}&type=${type}&categoryID=0`,
                type: 'GET',
                processData: false,
                async: false,
                success: function (data) {
                    var x_axis = [];
                    var series = [];
                    var data_ = [];
                    var count = 0;
                    var graphData = data;
                    if (graphData.length > 0) {
                        if (graphData[0].hasOwnProperty("Generated")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Generated"];
                            }
                            series[count] = {
                                name: "Generated",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Collected")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Collected"];
                            }
                            series[count] = {
                                name: "Collected",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Recycled")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Recycled"];
                            }
                            series[count] = {
                                name: "Recycled",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Recovered")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Recovered"];
                            }
                            series[count] = {
                                name: "Recovered",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Disposal")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Disposal"];
                            }
                            series[count] = {
                                name: "Disposal",
                                data: data_
                            }
                            count++;
                        }

                        var options = {
                            series: series,
                            chart: {
                                type: 'bar',
                                height: 400,
                                toolbar: {
                                    show: true
                                },
                                zoom: {
                                    enabled: true
                                }
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: false,
                                    endingShape: 'rounded',
                                    borderRadius: 2
                                },
                            },
                            dataLabels: {
                                formatter: function (val) {
                                    return numFormatter(val);//.toLocaleString('en-US')
                                },
                                style: {
                                    fontSize: "10px",
                                    colors: ['#000000']
                                }
                            },
                            stroke: {
                                show: true,
                                width: 2,
                                colors: ['transparent']
                            },
                            xaxis: {
                                categories: x_axis,
                                labels: {
                                    show: true,
                                    minWidth: 0,
                                    maxWidth: 160,
                                    style: {
                                        fontSize: '12px',
                                        fontFamily: 'Roboto Condensed, sans-serif',
                                        fontWeight: 400,
                                    }
                                },
                                title: {
                                    text: 'WasteType'
                                }
                            },
                            yaxis: {
                                logarithmic: false,
                                logBase: 10,
                                labels: {
                                    show: true,
                                    align: 'right',
                                    minWidth: 0,
                                    maxWidth: 160,
                                    style: {
                                        fontSize: '12px',
                                        fontFamily: 'Roboto Condensed, sans-serif',
                                        fontWeight: 400,
                                    },
                                    offsetX: 0,
                                    offsetY: 0,
                                    rotate: 0,
                                    formatter: function (val) {
                                        return numFormatter(val);//.toLocaleString('en-US')
                                    }
                                },
                                title: {
                                    text: 'Tons'
                                }
                            },
                            fill: {
                                opacity: 1
                            },
                            tooltip: {
                                enabled: true,
                                y: {
                                    formatter: function (val) {
                                        return val.toLocaleString('en-US') + " Tons";
                                    }
                                }
                            },
                            noData: {
                                text: 'No Data'
                            },
                            legend: {
                                position: isMobile ? 'bottom' : 'right',
                            },
                        };

                        chart1 = new ApexCharts(document.querySelector("#chart1"), options);
                        chart1.render();
                    } else {
                        var options = {
                            chart: {
                                height: 350,
                                type: 'bar',
                            },
                            dataLabels: {
                                enabled: false
                            },
                            series: [],
                            noData: {
                                text: 'No Data'
                            }
                        }

                        chart1 = new ApexCharts(document.querySelector("#chart1"), options);
                        chart1.render();
                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }

        function refreshWasteDataChart2() {
            const categoryID = $("#chart2TypeSelect").val()
            const category = $('#chart2TypeSelect option:selected').text();
            $.ajax({
                url: `/New/WasteData/getWasteChart1?subregionID=${subregionID}&countryID=${countryID}&year=${year}&type=0&categoryID=${categoryID}`,
                type: 'GET',
                processData: false,
                async: false,
                success: function (data) {
                    var x_axis = [];
                    var series = [];
                    var data_ = [];
                    var count = 0;
                    var graphData = data;
                    if (graphData.length > 0) {
                        if (graphData[0].hasOwnProperty("Generated")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Generated"];
                            }
                            series[count] = {
                                name: "Generated",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Collected")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Collected"];
                            }
                            series[count] = {
                                name: "Collected",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Recycled")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Recycled"];
                            }
                            series[count] = {
                                name: "Recycled",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Recovered")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Recovered"];
                            }
                            series[count] = {
                                name: "Recovered",
                                data: data_
                            }
                            count++;
                        }
                        data_ = [];
                        if (graphData[0].hasOwnProperty("Disposal")) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                x_axis[ctr] = graphData[ctr]["WasteCategory"];
                                data_[ctr] = graphData[ctr]["Disposal"];
                            }
                            series[count] = {
                                name: "Disposal",
                                data: data_
                            }
                            count++;
                        }

                        console.log(series);

                        var options = {
                            series: series,
                            chart: {
                                type: 'bar',
                                height: 400,
                                toolbar: {
                                    show: true
                                },
                                zoom: {
                                    enabled: true
                                }
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: false,
                                    endingShape: 'rounded',
                                    borderRadius: 2
                                },
                            },
                            dataLabels: {
                                formatter: function (val) {
                                    return numFormatter(val);//.toLocaleString('en-US')
                                },
                                style: {
                                    fontSize: "10px",
                                    colors: ['#000000']
                                }
                            },
                            stroke: {
                                show: true,
                                width: 2,
                                colors: ['transparent']
                            },
                            xaxis: {
                                categories: x_axis,
                                labels: {
                                    show: true,
                                    minWidth: 0,
                                    maxWidth: 160,
                                    style: {
                                        fontSize: '12px',
                                        fontFamily: 'Roboto Condensed, sans-serif',
                                        fontWeight: 400,
                                    }
                                },
                                title: {
                                    text: category
                                }
                            },
                            yaxis: {
                                logarithmic: false,
                                logBase: 10,
                                labels: {
                                    show: true,
                                    align: 'right',
                                    minWidth: 0,
                                    maxWidth: 160,
                                    style: {
                                        fontSize: '12px',
                                        fontFamily: 'Roboto Condensed, sans-serif',
                                        fontWeight: 400,
                                    },
                                    offsetX: 0,
                                    offsetY: 0,
                                    rotate: 0,
                                    formatter: function (val) {
                                        return numFormatter(val);//.toLocaleString('en-US')
                                    }
                                },
                                title: {
                                    text: 'Tons'
                                }
                            },
                            fill: {
                                opacity: 1
                            },
                            tooltip: {
                                enabled: true,
                                y: {
                                    formatter: function (val) {
                                        return val.toLocaleString('en-US') + " Tons";
                                    }
                                }
                            },
                            noData: {
                                text: 'No Data'
                            },
                            legend: {
                                position: isMobile ? 'bottom' : 'right',
                            },
                        };

                        chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                        chart2.render();
                    } else {
                        var options = {
                            chart: {
                                height: 350,
                                type: 'bar',
                            },
                            dataLabels: {
                                enabled: false
                            },
                            series: [],
                            noData: {
                                text: 'No Data'
                            }
                        }

                        chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                        chart2.render();
                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }

        function refreshWasteDataChart3() {
            const type = $("#chart3TypeSelect").val()
            $.ajax({
                url: `/New/WasteData/getWasteChart2?subregionID=${subregionID}&countryID=${countryID}&year=${year}&type=${type}`,
                type: 'GET',
                processData: false,
                async: false,
                success: function (data) {
                    var x_axis = [type];
                    var series = [];
                    var count = 0;
                    var graphData = data;
                    if (graphData.length > 0) {
                        if (graphData[0].hasOwnProperty(type)) {
                            for (var ctr = 0; ctr < graphData.length; ctr++) {
                                series[ctr] = {
                                    name: graphData[ctr]["WasteCategory"],
                                    data: [graphData[ctr][type]]
                                }
                            }
                        }

                        console.log(series);

                        var options = {
                            series: series,
                            chart: {
                                type: 'bar',
                                height: 400,
                                toolbar: {
                                    show: true
                                },
                                zoom: {
                                    enabled: true
                                }
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: false,
                                    endingShape: 'rounded',
                                    borderRadius: 2
                                },
                            },
                            dataLabels: {
                                formatter: function (val) {
                                    return numFormatter(val);//.toLocaleString('en-US')
                                },
                                style: {
                                    fontSize: "10px",
                                    colors: ['#000000']
                                }
                            },
                            stroke: {
                                show: true,
                                width: 2,
                                colors: ['transparent']
                            },
                            xaxis: {
                                categories: x_axis,
                                labels: {
                                    show: true,
                                    minWidth: 0,
                                    maxWidth: 160,
                                    style: {
                                        fontSize: '12px',
                                        fontFamily: 'Roboto Condensed, sans-serif',
                                        fontWeight: 400,
                                    }
                                },
                                title: {
                                    text: type
                                }
                            },
                            yaxis: {
                                logarithmic: false,
                                logBase: 10,
                                labels: {
                                    show: true,
                                    align: 'right',
                                    minWidth: 0,
                                    maxWidth: 160,
                                    style: {
                                        fontSize: '12px',
                                        fontFamily: 'Roboto Condensed, sans-serif',
                                        fontWeight: 400,
                                    },
                                    offsetX: 0,
                                    offsetY: 0,
                                    rotate: 0,
                                    formatter: function (val) {
                                        return numFormatter(val);//.toLocaleString('en-US')
                                    }
                                },
                                title: {
                                    text: 'Tons'
                                }
                            },
                            fill: {
                                opacity: 1
                            },
                            tooltip: {
                                enabled: true,
                                y: {
                                    formatter: function (val) {
                                        return val.toLocaleString('en-US') + " Tons";
                                    }
                                }
                            },
                            noData: {
                                text: 'No Data'
                            },
                            legend: {
                                position: isMobile ? 'bottom' : 'right',
                            },
                        };

                        chart3 = new ApexCharts(document.querySelector("#chart3"), options);
                        chart3.render();
                    } else {
                        var options = {
                            chart: {
                                height: 350,
                                type: 'bar',
                            },
                            dataLabels: {
                                enabled: false
                            },
                            series: [],
                            noData: {
                                text: 'No Data'
                            }
                        }

                        chart3 = new ApexCharts(document.querySelector("#chart3"), options);
                        chart3.render();
                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }

        function numFormatter(num) {
            try {
                if (num >= 1000000000) {
                    return Math.abs(num) > 999999999 ? Math.sign(num) * ((Math.abs(num) / 1000000000).toFixed(3)) + ' B' : Math.sign(num) * Math.abs(num)
                }
                if (num >= 1000000) {
                    return Math.abs(num) > 999999 ? Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(3)) + ' M' : Math.sign(num) * Math.abs(num)
                }
                if (num >= 1000) {
                    return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(2)) + ' K' : Math.sign(num) * Math.abs(num)
                }
                if (num > 0) {
                    return num;
                }
                if (num == null) {
                    return ""
                }
                return 0;
            }
            catch {
                return 0;
            }
        }

    </script>
}