@model KnowWaste.Models.Home
@{
    Layout = "~/Areas/New/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section -->
<section class="text-white text-center ">
    <div id="carouselExampleCaptions" class="carousel slide w-100">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item active h-600">
                <img src="~/Content/imgs/home/banner_1.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block hero-overlay">
                    <!-- <h6 class="text-blue text-uppercase">Latest News</h6> -->
                    <h4 class="text-white">From Insight to Action — Building a Cleaner, Circular ASEAN.</h4>

                </div>
            </div>

            <div class="carousel-item  h-600">
                <img src="~/Content/imgs/home/banner_2.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block hero-overlay">
                    <!-- <h6 class="text-blue text-uppercase">Latest News</h6> -->
                    <h4 class="text-white">Connecting Policy, Practice, and People for a Waste-Free Future.</h4>

                </div>
            </div>

            <div class="carousel-item  h-600">
                <img src="~/Content/imgs/home/banner_3.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block hero-overlay">
                    <!-- <h6 class="text-blue text-uppercase">Latest News</h6> -->
                    <h4 class="text-white">Turning Data into Impact for Sustainable Waste Management.</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- About Section -->
<section class="pt-120 pb-60">
    <div class="container container-md container-lg">
        <div class="abt-sec text-center pb-60">
            <h2 class="section-title pb-3 text-uppercase">How it started</h2>
            <p class="text-muted">The kNOwWaste Knowledge Platform was developed through a Project Cooperation Agreement funding by UNEP on 2016. The platform provides data and information on holistic waste management to stakeholders in Asia and the Pacific region. The platform was developed with the following aims: generate and consolidate data or information on holistic waste management, transform data into easily comprehensible outputs for use by key stakeholders, map out and disseminate information on international waste management projects under the GPWM and UNEP projects as well as other international partners, and provide capacity building support through dissemination of data or information support for relevant stakeholders on holistic waste and waste management system.</p>
        </div>

        <div class="row g-4">
            <div class="col-md-4 text-center">

                <img src="/Content/imgs/inform.png" alt="" class=" p-2 mb-3" style="height: 60px; background-color: #E7F7FC; border-radius: 10px;">

                <div>
                    <h5>To Inform</h5>
                    <p class="text-muted">An interactive and intuitive sustainable waste and resource management knowledge repository</p>
                </div>

            </div>

            <!-- Other Cards -->
            <div class="col-md-4 text-center">

                <img src="/Content/imgs/empower.png" alt="" class=" p-2 mb-3" style="height: 60px; background-color: #E7F7FC; border-radius: 10px;">

                <div>
                    <h5>To empower</h5>
                    <p class="text-muted">Knowledge and capacity building on the transfer of sustainable waste and resource management</p>
                </div>

            </div>
            <div class="col-md-4 text-center">

                <img src="/Content/imgs/connect.png" alt="" class=" p-2 mb-3" style="height: 60px; background-color: #E7F7FC; border-radius: 10px;">

                <div>
                    <h5>To Connect</h5>
                    <p class="text-muted">Bringing together sustainable waste and resource management related professional and institutions</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-120 pb-60">
    <div class="container container-md container-lg">
        <div class="abt-sec text-center pb-60">
            <h2 class="section-title pb-3 text-uppercase">Evidence-based knowledge at your fingertips</h2>
            <p class="text-muted">Access a comprehensive collection of resources designed to inform policy, guide implementation, and accelerate sustainable solutions.</p>
        </div>

        <div class="row g-4 bg-light br-8">
            <div class="col-12 col-md-6 col-lg-6 ">
                <a href="/New/ThematicArea" style="text-decoration: none;">
                    <div class=" d-flex justify-content-between align-items-start p-2">
                        <dotlottie-wc src="https://lottie.host/49010b90-e00d-44fb-9e05-7f3683ca377f/L5QPaAYheO.lottie"
                                      style="width: 300px;height: 100px"
                                      speed="1"
                                      autoplay
                                      loop></dotlottie-wc>
                        <div>
                            <h5 class="text-black">Thematic Area Case Study</h5>
                            <p class="text-muted">Real-world examples and impact assessments from successful waste management projects across Asia-Pacific.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-6 ">
                <a href="/New/Publications" style="text-decoration: none;">
                    <div class=" d-flex justify-content-between align-items-start p-2">
                        <dotlottie-wc src="https://lottie.host/68e60d40-aaea-48df-8ebc-e257a96220bc/QkUXMH69bd.lottie"
                                      style="width: 300px;height: 100px"
                                      speed="0.5"
                                      autoplay
                                      loop>
                        </dotlottie-wc>
                        <div>
                            <h5 class="text-black">Publications</h5>
                            <p class="text-muted">Peer-reviewed studies, technical reports, and scientific evidence on waste prevention and marine debris.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-6 ">
                <a href="/New/News" style="text-decoration: none;">
                    <div class=" d-flex justify-content-between align-items-start p-2">
                        <dotlottie-wc src="https://lottie.host/9a1cf7a5-bdd0-447b-b746-c49969f68fde/GH6rTNsySK.lottie"
                                      style="width: 300px;height: 110px"
                                      speed="0.5"
                                      autoplay
                                      loop>
                        </dotlottie-wc>
                        <div>
                            <h5 class="text-black">News</h5>
                            <p class="text-muted">Latest developments, policy changes, and breakthrough innovations in sustainable waste management.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-6 ">
                <a href="/New/GoodPractices" style="text-decoration: none;">
                    <div class=" d-flex justify-content-between align-items-start p-2">
                        <!-- <img src="imgs/blog.png" alt="" class=" p-2 me-4"  style="height: 60px; background-color: #E7F7FC; border-radius: 10px;"> -->
                        <dotlottie-wc src="https://lottie.host/a265f90a-1d9f-4d67-8c94-e830d99e85da/UCOVdoBixQ.lottie"
                                      style="width: 300px;height: 100px"
                                      speed="0.25"
                                      autoplay
                                      loop>
                        </dotlottie-wc>
                        <div>
                            <h5 class="text-black">Good Practices</h5>
                            <p class="text-muted">Expert perspectives, field experiences, and practical guidance from practitioners and researchers.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- network -->
<section class="ptb-120 bg-pattern text-center position-relative">
    <img src="/Content/imgs/wave-top.png" class="wave-top" alt="Wave Divider" />
    <div class="container container-md container-lg">
        <h2 class="section-title">NETWORKS OF PRACTICE</h2>
        <div class="row  mt-4 bg-white p-5">
            <div class="col-12 col-md-6 col-lg-6">
                <img src="/Content/imgs/partner1.png" class="mx-3 my-2" alt="IKHAPP">
                <p>International Knowledge Hub Against Plastic Pollution</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="/Content/imgs/partner2.png" class="mx-3 my-2" alt="RKC-MPD">
                <p>
                    Regional Knowledge Centre for Marine Plastic
                    Debris RKC-MPD ERIA
                </p>
            </div>
        </div>
    </div>
    <img src="/Content/imgs/wave-bottom.png" class="swiggle-img" alt="Wave Divider" />
</section>

<section class="ptb-120">
    <div class="container container-md container-lg">
        <h2 class="section-title text-center mb-4">GOOD PRACTICES</h2>
        <p class="text-center text-muted mb-5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like </p>
        <div class="row g-4">
            @foreach (ViewModels.GoodPractice item in Model.BlogList.Take(3))
            {
                <div class="col-md-4">
                    <div class="card h-100 card card-rounded s-border box-shadow tns-item tns-slide-cloned m-10">
                        <img src="Documents/Blogs/@item.Thumbnail.Split(';')[0]"
                             class="card-img-top"
                             alt="@item.Title"
                             style="height: 250px; width: 100%; object-fit: cover;">

                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <small>@item.Country</small>
                            <div class="card-text text-truncate-3">@Html.Raw(item.Description)</div>
                            <a href="New/GoodPractices/Details/@item.ID" class="form-control btn btn-outline-primary w-auto mt-2">Start Reading →</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center mt-4">
            <a href="New/GoodPractices" class="btn btn-primary">View More</a>
        </div>
    </div>
</section>

<section class="ptb-120">
    <div class="container container-md container-lg">
        <h2 class="section-title text-center pb-3 mb-4">Meet the Experts</h2>
        <div class="container container-md container-lg">
            <div class="owl-carousel owl-theme">
                @foreach (ViewModels.Expert item in Model.ExpertList)
                {
                    <a href="/New/Experts" style="text-decoration: none;">
                        <div class="card expert-card p-2 mx-2 bg-light">
                            <img src="Documents/@item.Thumbnail.Split(';')[0]" alt="" class="br-8"  style="height: 300px; width: 100%; object-fit: cover;">
                            <h5 class="mb-0 mt-1 ps-2">@item.Name</h5>
                            <small class="text-muted ps-2">@item.Position</small>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(function () {
            $(".owl-carousel").owlCarousel({
                items: 4,
                // nav: true,
                loop: true,
                animateOut: 'fadeOut',
                autoplay: false,
                autoplayTimeout: 1800,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    },
                    1200: {
                        items: 4
                    }
                }
            });
        });
    </script>
}